[2022-06-10 14:55] #511 closed

[2022-06-10 14:55] #485 closed

[2022-06-10 14:57] bluenevus opened #586 "users should be able to drag and drop to reorder to do list with a handle on the left to indicate a the place to pick up and drag the object in a different order"
currently there is no way to reorder a to do list

users should be able to drag and drop to reorder to do list with a handle on the left of a to do item to indicate a the place to pick up and drag the object in a different order

![image](https://user-images.githubusercontent.com/3675043/173093266-294f9c9b-c1a0-4e3d-a072-c15305a7737f.png)

[2022-06-10 15:10] #292 closed

[2022-06-10 15:12] bluenevus opened #587 "address security issues please"
https://github.com/MicroHealthLLC/mSuite/security/dependabot

https://github.com/MicroHealthLLC/mSuite/security/code-scanning?query=is%3Aopen+branch%3Amaster+severity%3Ahigh

[2022-06-10 15:22] bluenevus commented on #586
this means dragging a parent task to a subtask or vice versa.  what ever is there, they can move and rearrange as a parent, as a child or vice versa.  Rearrange as they see fit by drag and drop.  no rules on drag a drop.

I mean if they have something as a task and it should have been a subtask, there is no way to fix that except delete and start over. by doing this, they can just drag and drop it

[2022-06-10 15:32] bluenevus opened #588 "what ever the last color picker chosen should be what the color picker is when I launch it"
so the problem is that after completing a map, I want to change colors of multiple boxes.  The problem is that it doesn't remember what I picked last.  So I have to copy and paste the hex code.  That is high friction for a user that just wants to make sure the boxes are a specific color based on what was used

![image](https://user-images.githubusercontent.com/3675043/173099447-f637881d-0bb7-470a-

[2022-06-10 15:37] bluenevus opened #589 "treemap central idea not saving again"
typed animals here
![image](https://user-images.githubusercontent.com/3675043/173100903-53dbe31a-1494-4969-a625-4d151e2f81c3.png)

hit return then it did this reverting back to central ideas and removing the word animals I typed

![image](https://user-images.githubusercontent.com/3675043/173100957-b5bb24a6-b41f-46cd-bed9-8b09c1c16d90.png)

ok so then I added a node.  Only after I added a node did

[2022-06-10 15:39] bluenevus opened #590 "flowmap should start in the center left not bottom left hand corner"
this was fixed but somehow reverted back.  please make sure your devs have the latest from master as they are stomping over fixes we had before

![image](https://user-images.githubusercontent.com/3675043/173101374-0f7c2068-f5b0-47f5-8eb4-ac227f366ad9.png)

should look like this

![image](https://user-images.githubusercontent.com/3675043/173101441-4d1f3f5b-39e6-47e9-8b8f-4878bce7cdb2.png)

[2022-06-10 15:41] bluenevus opened #591 "drag and drop handle of central idea for flowmap and treechart should be the only place to click to start the drag and drop process...not anywhere on the box"
everytime I click central idea (where it says start her) anywhere it drags the node and its hard to stop dragging it until I put it back.

We need handles on the node like the subnode you have here where only when they click that it instantiates the drag and drop.  This will prevent the constant accidental drags everytime I clcik the box to edit central idea here

![image](https://user-images.gith

[2022-06-10 16:06] bluenevus opened #592 "there should be an indicator that comments exist"
i can imagine most of the time comments won't be used so there needs to be some indicator that there are comments.  For example, maybe the color should be something different.  Rather than blue, make it orange or green if there are comments

![image](https://user-images.githubusercontent.com/3675043/173106288-3317ca18-ca72-4374-a3c4-3c8a6b92ced8.png)

the point is that it should be easy to tell th

[2022-06-10 16:18] bluenevus commented on #591
so the problem is that its click and drag but what happens is if you click it it will drag around even when you are not holding down the mouse button to drag it.  I mean click is the feature to hold means you have to hold onto the mouse button.  the problem is that any place you click on the box even the sub node will hold on to the entire node and subnode and drag it around even if you're not cli

[2022-06-10 16:52] bluenevus opened #593 "as a user I would like a really simple real time presentation software (slide presentations)"
I like this however, its still way to complicated https://strut.io/dist/index.html

its great that they have the preview and slide selector on the left like so
![image](https://user-images.githubusercontent.com/3675043/173113337-c2198cd2-8256-4672-aecc-25f4f2e9d079.png)

I also like the fact you can add bullet list easy like so
![image](https://user-images.githubusercontent.com/3675043/173113467-b

[2022-06-10 17:04] bluenevus opened #594 "rather than show a save button, we need to show a delete date with a hover over tool tip that says delete date"
based on how the system is configured and whether its been saved private or public with a time period, it should show the date it will be deleted here
![image](https://user-images.githubusercontent.com/3675043/173115840-61d8d492-e50e-49fc-8a6f-68e106fccc5b.png)
 with tool tip that says delete date

This way the user always knows when the document will automatically delete.

by default, if nothing

[2022-06-10 17:05] #589 closed

[2022-06-10 17:11] bluenevus opened #595 "The content of this menu should be icons on the chat"
![image](https://user-images.githubusercontent.com/3675043/173116951-ffc6fea7-8d78-43f3-b956-59345c5bf22c.png)

should have an edit, remove, reply icon etc so they don't have to do multiple clicks for common tasks and do away with ... menu
![image](https://user-images.githubusercontent.com/3675043/173116987-0f2eca35-befc-4745-8680-0bf927ff4dab.png)

Also the buttons might be too close because if I

[2022-06-10 17:47] bluenevus opened #596 "default colors should be based on a palette and smart automatically applying one color of a palette at one level of a node and a complimentary one at the next level and another at the next"
so things like tree map, flow map, tree chart all have color codes and each node level represents a color set

The problem is that it doesn't change color sets and the color choices are pretty tough on the eyes.  so what we should use is a color palette and start there and be consistent in its use

top level will always default to this color the next level will always default to this, and the next

[2022-06-10 18:01] bluenevus opened #597 "eraser for whiteboard needs a circle to indicate the area being erased. right now its cross hairs and you have no sense of what you are actually erasing"
![image](https://user-images.githubusercontent.com/3675043/173124473-97ba2c06-9dbc-495e-9647-eaff00731f3f.png)

looks like this
![image](https://user-images.githubusercontent.com/3675043/173124514-36e5a139-f5e8-4e00-96a8-05b23a43d8dc.png)

when it should look like this when erasing with the circle increasing or decreasing in size based on what is picked

![image](https://user-images.githubusercont

[2022-06-10 18:04] bluenevus opened #598 "for the whiteboard when you want to select an object I expected to click a hand icon but learned you have to unclick"
for the whiteboard when you want to select an object I expected to click a hand icon but learned you have to unclick

every paint program has what you see below, the hand that will allow me to select or grab.  Some just show a mouse cursor.  I was looking for that so I can select an object.  I learned you have to unclick pencil to then click an object.  That is ok but we need to also have what use

[2022-06-10 18:05] bluenevus opened #599 "the line icon in whiteboard should be different than the pencil. it should be a line"
![image](https://user-images.githubusercontent.com/3675043/173125091-9f02e6e3-dc52-4e73-9173-0281bd6bf69e.png)

its the same icon when something more like this was expected

![image](https://user-images.githubusercontent.com/3675043/173125133-a6296472-65c2-4b25-a761-44a2379b8b28.png)

[2022-06-10 18:05] LAlexMHllc opened #600 "WhiteBoard: The color of the Line drawn should be the last color used, instead of always black by default."
To be consistent with the other draw object functions, Line drawn should have the last color used instead of black by default.
Screenshot Example

![whiteboard_color_of_Line_drawn_should_be_last_color_instead_of_default_black](https://user-images.githubusercontent.com/11938477/173125178-02dafade-25cb-4755-a3d6-2b821224e2ef.png)

[2022-06-10 19:02] bluenevus opened #601 "flowmap space is a bit large making it hard to work on just 2 nodes"
![image](https://user-images.githubusercontent.com/3675043/173132849-d79b2da9-2181-4e75-9e2e-70adfcf42846.png)

there are only 2 nodes.  1 parent and another child and already it doesn't fit on a 1080p screen mostely because the space between

![image](https://user-images.githubusercontent.com/3675043/173132940-c249b3eb-5985-44ba-bd74-7133aabb3475.png)

making it exceptionally hard when there are

[2022-06-10 19:04] LAlexMHllc opened #602 "All Maps: EXCEPT FOR DELETE ENTIRE MAP (entire page of URL), remove all Confirm/Delete object."

[2022-06-10 19:25] LAlexMHllc opened #603 "FlowMap, TreeChart, TreeMap, Kanban, and ToDo: Put more space before "x", since confirm delete node function will be removed."

[2022-06-10 19:29] bluenevus commented on #603
the purpose is to reduce the chance of accidental delete since confirmation is being removed in #602

[2022-06-10 19:30] LAlexMHllc opened #604 "All Maps: Include "Undo" and "Redo" buttons on header bar, since Confirm/Delete function will be removed."
For Undo and Redo: minimum 10, preferably 20

[2022-06-10 19:36] bluenevus commented on #604
like so in the header so they can undo or redo all any action.  particularly important since confirmation of delete is being removed #603 #602 which will get rid of the constant nagging when editing a document for deletes.

![image](https://user-images.githubusercontent.com/3675043/173137683-8af8ccf7-8502-442d-a305-363506ad4d66.png)

[2022-06-10 19:50] bluenevus opened #605 "font colors need to be responsive to background colors so the text doesn't disappear to a dark or light background"
![image](https://user-images.githubusercontent.com/3675043/173140216-ad1aafa6-101d-420d-9bed-15c62e00eb13.png)

![image](https://user-images.githubusercontent.com/3675043/173140167-5bca3d5b-77c3-4126-b6c6-a9c47bb5440b.png)

![image](https://user-images.githubusercontent.com/3675043/173140296-369bb28b-1b50-4e92-b4e2-9514731d6ab0.png)

![image](https://user-images.githubusercontent.com/3675043/17314

[2022-06-10 19:51] bluenevus commented on #605
"Add a task" responded

but the word "Done" did not

This problem exist in every map/app

[2022-06-10 19:57] bluenevus opened #606 "if a map or app was opened but nothing was done to it, then nothing should save or it should be immediately deleted because nothing was done on it."
I see a number of maps where its obvious it was opened but nothing was done.  The default screen is there and the map was saved

![image](https://user-images.githubusercontent.com/3675043/173141290-2eb0dc93-ece0-40a4-98ae-e4593db6ebe6.png)

I checked on a bunch and went through and many of them were default with no data, edits or anything. No one saved anything because no one edited anything or ad

[2022-06-13 06:08] #600 closed

[2022-06-13 07:17] b-solution commented on #599
@bluenevus I've changed the icon, can you please check it and let me know.

[2022-06-13 07:23] #580 closed

[2022-06-13 07:24] #599 closed

[2022-06-13 07:34] b-solution commented on #578
@bluenevus Can you please test it with latest pull and let me know.

[2022-06-13 09:36] b-solution commented on #569
@bluenevus I've fixed this, can you please test it again and let me know if it's not working.

[2022-06-13 13:43] #590 closed

[2022-06-13 14:26] bluenevus commented on #578
doesn't work.  the line ENDS where the cursor is instead of line STARTs where the cursor is.  if you were tot take a pencil and draw a line...that is the experience you expect.  you click the cursor, drag the line.  but that is not what is happening.  you click and drag but the line start in some weird location and ends where the cursor is so its not possible to draw a line between 2 objects becau

[2022-06-13 15:24] #569 closed

[2022-06-14 11:11] b-solution commented on #598
@bluenevus I've added selection tool. Kindly test it and let us know if this is working like you desired.

[2022-06-14 11:24] b-solution commented on #592
@bluenevus I've fixed this issue please test it again and let me know if it's not working.

[2022-06-14 13:45] b-solution commented on #595
<img width="571" alt="image" src="https://user-images.githubusercontent.com/5988861/173592201-f119357e-f644-41ff-8c64-ef46ad56a137.png">

[2022-06-14 15:03] bluenevus commented on #595
I don't see those icons and it shouldn't be behind a ... menu...just want those icons on the chat so we can save them an extra click they don't need to do.  right now its a 2 step process.  removing the ... menu and just putting the icons will make it a one click process
![image](https://user-images.githubusercontent.com/3675043/173610704-4cfd11d8-9573-4972-950c-aa01a01d84c5.png)

[2022-06-14 15:07] bluenevus commented on #588
I don't see the recent colors in color picker though it was pushed

![image](https://user-images.githubusercontent.com/3675043/173611763-ed35e17d-cddf-4a2f-8c6e-a0cc9dbc3930.png)

[2022-06-14 15:07] #592 closed

[2022-06-14 15:09] bluenevus commented on #598
That works.

[2022-06-14 15:10] bluenevus commented on #598
the problem is if you click select, it can't have anything else selected.  As you can see here, I clicked the line, then went to hit select, the line was still selected and as you can see it drew more line

![image](https://user-images.githubusercontent.com/3675043/173612627-dcabed98-579a-4a30-be53-b2114eacedbb.png)

[2022-06-14 15:12] bluenevus commented on #598
also the select should be the top icon because the rest have to do with drawing.  The increase and decrease should be below that because that will change what the user selected.  The rest are drawing icons so they should go after

Select, increas, descrease, pencil, line, etc etc redo, undo so that its logical on where the are drawing icons and what are not

[2022-06-14 16:31] LAlexMHllc opened #616 "WhiteBoard: "Select" should be active after new object added to board"
Screenshot Example

![whiteboard_Selected_link_should_be_active_after_new_object_added_to_board](https://user-images.githubusercontent.com/11938477/173628944-845aa2de-6fae-4091-888b-3170e5f14726.png)

[2022-06-14 16:39] LAlexMHllc opened #617 "WhiteBoard: Selected object should remain selected, until deselected."
Clicking "Cancel" on Color Picker should not deselect the object.
After clicking Increase or Decrease, the object should remain selected; until user deselects object or adds another object to the board.

[2022-06-14 16:54] LAlexMHllc opened #618 "Color Picker should not save duplicate recently used colors"
Screenshot Example

![color_picker_saves_duplicate_recently_used_colors](https://user-images.githubusercontent.com/11938477/173633346-fc54f8a2-5206-44c1-93bd-cf9bf9decde8.png)

[2022-06-14 16:59] LAlexMHllc opened #619 "WhiteBoard should have updated Color Picker with recently used colors"

[2022-06-14 17:10] LAlexMHllc opened #620 "WhiteBoard: Clicking "Reset" should deselect "Pencil", "Line", and "Select""

[2022-06-14 17:28] LAlexMHllc opened #621 "WhiteBoard - Object should become deselected by: clicking anywhere that is not the object; or unclicking the hand grab icon."

[2022-06-14 21:09] andrewtran249 opened #622 "[Notepad] Text would erase when working within it collaboratively."
Focus Group - week 1

[2022-06-14 21:10] andrewtran249 opened #623 "[Notepad] Updates to shared work would not update in real time, requiring manual refresh and some loss of work."
Focus Group - week 1

[2022-06-15 02:34] bluenevus commented on #623
I'm not seeing this issue however I think it might be from load balancing @bilel-kedidi  @b-solution I have nginx pointing to 2 msuiteservers.  The 2 servers are pointing to one central database.  This way depending on the load, users will go to one or the other appservers.  I don't have it going to a common redis though. Do you think this issue is because there are 2 servers with 2 redis and the

[2022-06-15 05:56] b-solution commented on #588
@bluenevus Can you please test with latest code.

[2022-06-15 10:41] b-solution commented on #618
@LAlexMHllc I've fixed this issue, please test it again and let me know if it's not working.

[2022-06-15 13:18] b-solution commented on #619
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-06-15 13:19] b-solution commented on #620
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-06-15 13:20] b-solution commented on #621
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-06-15 13:49] b-solution commented on #595
@bluenevus Can you please test it again, I've fixed this issue.

[2022-06-15 14:01] #595 closed, assigned to b-solution

[2022-06-15 14:03] #619 closed

[2022-06-15 14:41] LAlexMHllc commented on #620
Closing, fixed

[2022-06-15 14:41] #620 closed

[2022-06-15 14:51] LAlexMHllc commented on #621
When "Select" (hand grab icon) is inactive, no object should be selected
Screenshot Example

![whiteboard_object_should_not_be_selected_when_SELECT_is_inactive](https://user-images.githubusercontent.com/11938477/173857189-16157ff1-7e2c-41f7-ab6c-686858805d73.png)

[2022-06-15 14:56] #598 closed

[2022-06-15 15:45] bluenevus opened #631 "notepad: from time to time the cursor will go back to the beginning of the document and keep going back"
As I am typing and what looks like the document goes from editing to saving, the cursor jumps from wherever it is to the beginning of the document. Its not all the time. I'm not sure when or why it does that. But from time to time, where I expected to cursor to remain where I'm at as I'm typing, It will go to the beginning of the paragraph. Its a hit or miss when that happens and the only thing I

[2022-06-15 15:59] LAlexMHllc commented on #616
Still needs to be after "Text" object added to board
Screenshot Example

![clicked_Text_so_Select_should_be_active_when_Text-Object_added_to_board](https://user-images.githubusercontent.com/11938477/173872547-6490638b-a926-4fab-b936-22353f788cb3.png)

[2022-06-15 16:59] LAlexMHllc opened #632 "TreeMap - Should not be able to update background color for new node without saved Title."
To be consistent with other maps, Color Picker should not display when "pencil" clicked on object without saved Title
Screenshot Example

![treeMap_should_not_be_able_change_background_color_of_node_without_saved_Title](https://user-images.githubusercontent.com/11938477/173883619-c0a060fe-fcf7-4c51-a137-a658f6f582ac.png)

[2022-06-15 17:06] bluenevus commented on #632
too many rules.  if we want to be consistent we want to UNDO any requirements of a title to change color because we should NOT restrict users and force them into a workflow to save a title before changing color.  LOW friction and this rule adds friction

we need to fix this everywhere else and there should be NO requirements to save a title to simply chang ethe color..

[2022-06-15 17:06] #632 closed

[2022-06-15 17:07] bluenevus opened #633 "Should able to update background color for new node without saved Title like treemap"
low friction.  we don't want to require users to save a title before being able to change a color.  there is no good reason to force a user into that workflow that doesn't really do anything but make things confusing.  low friction

[2022-06-15 17:08] #588 closed

[2022-06-15 17:19] LAlexMHllc opened #634 "Remove "Title" requirement from all objects (new and edit)"
This refers to node objects, map objects; NOT the Title on the header bar (which is currently not required).

[2022-06-15 17:24] #633 closed

[2022-06-15 17:28] bluenevus commented on #634
the user shouldn't be boxed in a rule to enter a title on a node before doing an action like color picker.  I may want to create a flow map with x number of nodes then put the names in after...so what?  I may want to map out a few treemap nodes then enter a title then put a color.  why box them into a specific workflow.  low friction.  let them do what they need to do.  I know when I do an org cha

[2022-06-15 18:38] LAlexMHllc opened #635 "Notepad: Should not be more than one step behind being in sync after text style changes"
Screenshot Example

![notepad_applying_text_style_changes_more_than_one_step_behind_being_in_sync](https://user-images.githubusercontent.com/11938477/173900534-3c150747-dbfd-4c8d-8091-9291151f1c14.png)

[2022-06-15 18:51] bluenevus commented on #635
I think some of the issue is when do you pause to save so it looks like its waiting for a few seconds of pause to initiate a save.

[2022-06-15 19:01] LAlexMHllc opened #636 "TreeMap, TreeChart, and FlowMap: Clicking "Reset" should have changed the background color of Central Idea to default color"
Screenshot Example

![treeChart_clicking_Reset_central_idea_should_have_default_background_color](https://user-images.githubusercontent.com/11938477/173904554-f3634134-da6f-421c-b74a-a040d5e489a2.png)

[2022-06-15 20:13] andrewtran249 commented on #621
[Test]
I worked with a team of 5 including myself to recreate the chart seen here within whiteboard: [DiSC Wheel_13JUN22.pdf](https://github.com/MicroHealthLLC/mSuite/files/8912552/DiSC.Wheel_13JUN22.pdf)

I was able to create the diagram and 4 quadrant letter labels. The 4 remaining members were tasked with recreating the smaller circles containing initials and placing them on the diagram in thei

[2022-06-16 07:07] #636 closed

[2022-06-16 07:46] #618 closed

[2022-06-16 07:47] b-solution commented on #616
@LAlexMHllc Can you please test it again

[2022-06-16 08:49] b-solution commented on #578
@bluenevus will you please retest it with latest code.

[2022-06-16 11:08] b-solution commented on #578
@bluenevus Can you please test again.

[2022-06-16 11:30] b-solution commented on #567
@bluenevus Can you please test it again and let me know if it's not working.

[2022-06-16 15:19] bluenevus commented on #635
it doesn't let me type at all.  the cursor doesn't move to the right but stays at the start position so I'm always at the start like so

![image](https://user-images.githubusercontent.com/3675043/174103729-5cf12d1b-8786-4a65-beeb-d12f86c24467.png)

[2022-06-16 15:27] bluenevus commented on #635
its so bad right now I can't type anything at all.  the cursor will remain at the start position like the image above.  as I type stuff is being erased and that is without collaborating.  its simply not working

[2022-06-16 15:30] bluenevus commented on #635
@bilel-kedidi @bilel-kedidi  I reverted v-debounce:10ms to v-debounce:1000ms

[2022-06-16 16:17] bluenevus commented on #631
I linked it to #635 because this problem of the cursor jumping to the beginning of the document happens as the bounce goes down from 1000ms to 750ms and at 10ms it was unbearable.

[2022-06-17 12:25] b-solution commented on #520
@LAlexMHllc It's working good.

[2022-06-17 12:25] #578 closed

[2022-06-17 12:26] #570 closed

[2022-06-17 12:29] #616 closed

[2022-06-17 12:32] bluenevus opened #644 "homepage: scroll bar is completely missing when page is responding to screensize"
there was a requriement to remove scrollbars that show when its not required.  However now it doesn't show when required.

![image](https://user-images.githubusercontent.com/3675043/174298878-202db413-c527-4888-afc0-324e314743ce.png)

[2022-06-17 15:55] LAlexMHllc opened #646 "Mindmap: User should be able to include Description after Central node is active"
User is able to include Description by clicking icon BEFORE the Central node is clicked active or a child node is added.
Screenshot Example

![mindmap_unable_to_include_description_after_active_central_node_2](https://user-images.githubusercontent.com/11938477/174333527-1d59aafa-3095-41eb-a119-887dae06a7b7.png)

After the Central node is clicked active or a child node is added, the user is not abl

[2022-06-17 16:14] LAlexMHllc opened #647 "Spreadsheet: Real time barely functions"
Screenshot Example

![spreadsheet_real_time_barely_functions](https://user-images.githubusercontent.com/11938477/174337450-52cfd632-c950-4183-86aa-dbacb4d59871.png)

[2022-06-17 16:17] bluenevus commented on #647
didn't work at all for me...I didn't even get some things to sync.  Only syncs with a manual refresh
![MicrosoftTeams-image](https://user-images.githubusercontent.com/3675043/174337284-146d46a2-897a-484a-b9b9-0ddca2c527c4.png)

[2022-06-17 16:18] #224 closed

[2022-06-17 16:23] bluenevus opened #648 "As a spreadsheet user, I would like to do basic math functions"
As a spreadsheet user, I would like to do basic math functions such as

=SUM(C2:C4)
AVERAGE(C2, C3, C4)
COUNT(C1:C4)

Basic math operators to add, subtract, multiply and divide numbers from various cells and display the math answer

It may exist and the syntax typical of spreadsheets are different here

[2022-06-17 16:23] LAlexMHllc opened #649 "Spreadsheet should include basic math"
It should have basic math like * / + - and sum, avg, count
It should perform basic math formulas
EXAMPLE
=sum(a1-a14) which will automatically add column a rows 1-14 and show the total

[2022-06-17 16:24] bluenevus commented on #649
sorry, I wrote this requirement.  so closing this dupe #648

[2022-06-17 16:24] #649 closed

[2022-06-17 17:32] LAlexMHllc commented on #520
Still needs to be fixed
Screenshot Example

![notepad_bold_type_should_function_2](https://user-images.githubusercontent.com/11938477/174349129-7301f108-5c07-4bde-92c4-a1d9b7886a6d.png)

[2022-06-17 17:58] LAlexMHllc opened #650 "Spreadsheet: Clicking "Reset" button should reset the spreadsheet to default"

[2022-06-17 18:23] LAlexMHllc opened #651 "Spreadsheet: User should have option to download Excel, csv, png, or pdf"
Screenshot Example

![spreadsheet_downloads](https://user-images.githubusercontent.com/11938477/174357863-2bfd05f0-988d-4389-9dd3-da5d159bc585.png)

[2022-06-17 18:25] bluenevus commented on #651
png and pdf as an option is fine too but definitely need excel and csv and the export in the same place that all apps are located

[2022-06-17 19:02] LAlexMHllc commented on #651
Then make the current button function as expected to download png or pdf.
Include another export button for text; when clicked, display modal for user to choose Excel or csv.

Screenshot Example

![spreadsheet_downloads_2](https://user-images.githubusercontent.com/11938477/174386693-d7dd45ff-aaf1-4ca2-80ae-b62c17323639.png)

[2022-06-17 19:33] LAlexMHllc opened #652 "Spreadsheet: User should be able to insert/delete cells/rows/columns"

[2022-06-17 19:42] LAlexMHllc opened #653 "Spreadsheet: Should include Sort feature"

[2022-06-17 20:20] bluenevus opened #654 "sidekiq is going to redis on 127.0.0.1 even though cable.yml configured redis to use a remote host"
sidekiq is going to redis on 127.0.0.1 even though cable.yml configured redis to use a remote host

sidekiq.service doesn't have anything calling redis and neither does sidekiq.yml So I'm not sure where its configured to go out to 127.0.0.1 vs where cable.yml is pointing

![image](https://user-images.githubusercontent.com/3675043/174395783-d4045e8a-a2a6-488e-aa93-8d86b5923e40.png)

[2022-06-17 20:51] bluenevus commented on #652
![image](https://user-images.githubusercontent.com/3675043/174399454-00e37f53-bef7-4dcc-a03b-315676961521.png)

[2022-06-17 20:51] #652 closed

[2022-06-17 23:57] bluenevus commented on #653
right click and sort ascending or descending
![image](https://user-images.githubusercontent.com/3675043/174413717-a9f53a5f-617c-4446-b8fa-8b46bc78916f.png)

[2022-06-17 23:57] #653 closed

[2022-06-18 02:44] bluenevus opened #655 "As a user I would like a shared calendaring function that can be co-edited real time"
The calendar should display month view but can be changed to week view or day view

The user should be able to add an event set the time.  We need to keep it simple so we don't want a bunch of edit then save.  Just start editing.  just start doing.  its automatically saving.  The point is to keep the workflow simple, the calendar simple but as you can imagine on a short fuse project say 90 days, t

[2022-06-18 02:46] bluenevus commented on #655
think mvms but much easier.  less options, less fields, less clicks, just start editing without having to click a bunch of buttons and save etc.

[2022-06-18 13:54] bluenevus opened #656 "As a user i would like to have a links page that allows a user to put any link and give it a title. the title should be the hyperlink."
as a user i would to group links on the page.  The links page will ultimately give them the igoogle experience should they choose to do so else its a simple links page https://fe86ffe6-a-62cb3a1a-s-sites.googlegroups.com/site/techtipstuesday/Home/igoogle.png?attachauth=ANoY7cow-oCVkThdutBwON40nbEBgclQx5lD3PYSQ-fYYPh2BnLlg8ylF2PMDKPxrkGURGXU_5VCpFE2mV_PzOe5eXz5Zbhhf155ZoHjol26F5rwjEa90TdOLnZ-q4ATRS

[2022-06-19 04:34] bluenevus opened #657 "spreadsheet is not responding to screensizes greater than 1080p resulting in blank space to the right and the bottom"
![Screenshot 2022-06-19 12 32 49 AM](https://user-images.githubusercontent.com/3675043/174465998-172404af-cddf-466f-a1a8-0a6613c4e51b.png)

[2022-06-20 07:42] #657 closed

[2022-06-20 16:04] #597 closed

[2022-06-20 16:05] #646 closed

[2022-06-20 16:06] #605 closed

[2022-06-21 12:41] #648 closed

[2022-06-21 12:45] #644 closed

[2022-06-21 12:51] bluenevus commented on #571
still there
![image](https://user-images.githubusercontent.com/3675043/174803483-a727af1a-2e16-4ff7-b619-00f0c764b798.png)

[2022-06-21 13:44] LAlexMHllc opened #664 "Spreadsheet should have horizontal auto scroll"

[2022-06-21 14:05] LAlexMHllc commented on #571
Closing, fixed

[2022-06-21 14:07] #571 closed

[2022-06-21 14:29] LAlexMHllc opened #665 "Mindmap: The Description box should remain open until the user clicks Close. Text should be automatically saved every 1000 ms OR when Close clicked."
Screenshot Example

![mindmap_Description_save_close](https://user-images.githubusercontent.com/11938477/174824831-73705b5a-f376-4db6-b188-8f1c817b4387.png)

[2022-06-21 15:45] LAlexMHllc opened #666 "Spreadsheet should display the calculation for active cell"
Screenshot Example

![spreadsheet_when_cell_active_display_the_calculation](https://user-images.githubusercontent.com/11938477/174841999-287d8d1d-d658-48cb-94aa-1dfcd7a38715.png)

[2022-06-21 17:40] #666 closed, assigned to nobody

[2022-06-21 17:41] bluenevus commented on #664
don't understand this.  are you saying its missing horizontal scroll bars which it looks like its missing?

![image](https://user-images.githubusercontent.com/3675043/174863857-a7e5c155-759f-48f5-8531-0e0266f071e9.png)

[2022-06-21 17:45] LAlexMHllc opened #667 "Kanban: Action buttons for newly added Stage should have default colors"
Screenshot Example

![kanban_added_stage_action_buttons_changed_from_default_color](https://user-images.githubusercontent.com/11938477/174864950-53866e6d-2203-422b-880a-e8789caff581.png)

[2022-06-21 18:27] LAlexMHllc opened #668 "TreeChart and FlowMap: Deleting new child node should not change text color of existing nodes"
Screenshot Example

![treechart_remove_unsaved_child_node_should_not_change_all_Titles_color_White](https://user-images.githubusercontent.com/11938477/174871665-5b1b98e3-47d4-442d-b00e-df7eace5c190.png)

[2022-06-22 07:49] b-solution commented on #665
@bluenevus I've fixed this, can you please test it again and let me know if it's not working.

[2022-06-22 09:16] b-solution commented on #647
@bluenevus I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-06-22 09:16] b-solution commented on #651
@bluenevus I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-06-22 13:16] b-solution commented on #664
@bluenevus I've fixed this issue, please test it again and let me know if it's not working.

[2022-06-22 14:41] bluenevus opened #672 "Whiteboard: as a user I would like the drawing experience to be like like powerpoint or open office impress"
The problem is the select happening at the same time as drawing.  Its just giving a miserable experience.  As a user I'm expecting it to be more like powerpoint

1. I select the type of object I want to draw.  In this example a line.
![image](https://user-images.githubusercontent.com/3675043/175056501-b903cbef-91b5-4200-a773-f1a397302df3.png)
2.  after I draw the object, the line object is deslect

[2022-06-22 14:43] #665 closed

[2022-06-22 14:48] #647 closed

[2022-06-22 14:55] LAlexMHllc commented on #651
1. Clicking "Cancel" on Export X modal should cancel/Close modal.
2. The file downloaded when Excel button is clicked has an error when opened.

Screenshot Example

![spreadsheet_download_X_modal_issues](https://user-images.githubusercontent.com/11938477/175060733-61074fc7-c744-4081-adf3-bb54cbcde964.png)

[2022-06-22 15:42] bluenevus opened #673 "whiteboard: as a users I would like to change the layer of an object forward or backward"
objects seem to be drawn in layers.  as such I would like to

1. Send Backward
3. Bring Forward

which will bring an object one layer forward or send an object one layer back

[2022-06-22 15:51] LAlexMHllc commented on #494
Screenshot Example where no object is selected, yet the color was updated by the Color Picker

![whiteboard_color_picker_should_not_update_non-selected_object](https://user-images.githubusercontent.com/11938477/175075995-6c11cd10-8eed-4d56-b576-cbbe5e4f13aa.png)

[2022-06-23 11:07] b-solution commented on #667
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-06-23 11:08] b-solution commented on #668
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-06-23 11:11] b-solution commented on #672
@bluenevus I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-06-23 12:07] b-solution commented on #650
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-06-23 13:35] LAlexMHllc commented on #667
Closing, fixed

[2022-06-23 13:35] #667 closed

[2022-06-23 13:37] LAlexMHllc commented on #668
Closing, fixed

[2022-06-23 13:41] LAlexMHllc commented on #650
Still needs to be fixed

[2022-06-23 17:36] LAlexMHllc opened #677 "TreeChart and FlowMap: Drag 'N Drop should not change the background color of nodes"
Screenshot Example

![flowmap_dragNdrop_should_not_change_background_color_of_nodes](https://user-images.githubusercontent.com/11938477/175360695-8bfc00fa-e6fd-40ef-8801-0c32cb0f6f0a.png)

[2022-06-23 17:59] LAlexMHllc opened #678 "TreeChart and FlowMap: Toggle descendants should not change Text color"
Screenshot Example

![flowmap_toggle_descendants_should_not_change_node_Text_color](https://user-images.githubusercontent.com/11938477/175364329-27af47a7-cbb1-4cdd-b62d-e8ac78784167.png)

[2022-06-23 18:38] bluenevus commented on #672
the expected workflow works on pencil.

It does not work on line

![image](https://user-images.githubusercontent.com/3675043/175372309-3619a725-6207-4814-81fc-bbae65dd2c28.png)

[2022-06-23 18:54] LAlexMHllc commented on #650
Closing, fixed

[2022-06-23 18:54] #650 closed

[2022-06-24 06:54] b-solution commented on #672
@bluenevus I've fixed this issue. Kindly retest it and let me know if its working for you

[2022-06-24 07:17] b-solution commented on #621
@LAlexMHllc @bluenevus I've fixed this issue. Will you please retest it.

[2022-06-24 15:54] LAlexMHllc opened #680 "Whiteboard: Line just drawn should be selected when complete; Line button should be inactive; Select button should be active."
Should function the same as Pencil just drawn

[2022-06-24 16:02] LAlexMHllc commented on #621
Object should become deselected by: clicking anywhere that is not the object; or unclicking the hand grab icon - DONE

[2022-06-24 16:05] #621 closed

[2022-06-24 16:08] bluenevus commented on #680
+1

[2022-06-24 16:28] bluenevus opened #681 "as a user I would like to do real time peer to peer file sharing that is encrypted but the file doesn't reside on servers...truly peer to peer"
kinda  like https://www.sharedrop.io/ or https://snapdrop.net/

I just want to share with users who are on the same url and share the file with them real time.  That is , that file isn't stored on the server.  Its just going from user 1 to user 2 and 3 at the same time because I coordinated with them to be on the same url that shares the file point to point

I think snapdrop and sharedrop works mo

[2022-06-24 16:33] LAlexMHllc opened #682 "users should be able to identify other users collaborating on a map by temporary user like user 1 that they can edit to something like Joe"
Include temporary user name like user 1, user 2, user 3, user 4.
Each user can change their user # to an alternate Name (Example: User 1 can change it to "Joe")
Display the user id or alternate Name when the map is being Edited by that user.
EXAMPLE
User 1 Editing...
Joe Editing...

[2022-06-24 16:38] bluenevus commented on #682
The purpose is so that users can identify who is editing.  By default, everyone there is just user 1, user 2, user 3.  For simple collaboration that is no big deal but they can identify others who are editing.  However more complex, they may want to know joe or jane.  By giving the er to change their temporary user name from user 1 to Joe, it give them the ability to identify themselves.  This is

[2022-06-27 14:07] andrewtran249 commented on #520
confirming text does not bold on any font

[2022-06-27 17:15] bluenevus commented on #520
same here...doesn't work

[2022-06-27 17:48] LAlexMHllc commented on #678
Closing, fixed

[2022-06-27 17:48] #678 closed

[2022-06-27 18:13] LAlexMHllc opened #685 "Spreadsheet: Clicking "Reset" button should reset the spreadsheet to default columns"
Screenshot Example

![spreadsheet_clicking_Reset_should_display_default_columns](https://user-images.githubusercontent.com/11938477/176008280-79f520a2-1e9e-4a3b-8984-2a1af5593314.png)

[2022-06-27 19:36] LAlexMHllc opened #686 "Mindmap: When trying to edit node title, sometimes removed characters will automatically display again"
Screenshot Example

![mindmap_removing_node_Title_characters_automatically_displayed_again](https://user-images.githubusercontent.com/11938477/176021730-98eefc00-8ac4-4667-adea-43efc9aa7f6b.png)

[2022-06-28 07:36] b-solution commented on #685
@LAlexMHllc I've fixed this, can you please test it again and let me know if it's not working.

[2022-06-28 08:37] b-solution commented on #686
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-06-28 13:20] b-solution commented on #520
@LAlexMHllc @andrewtran249 @bluenevus Can you please test it again and let me know if it's not working.

[2022-06-28 14:16] LAlexMHllc commented on #677
Still needs to be fixed
Screenshot Example

![flowmap_dragNdrop_should_not_change_background_color_of_nodes_2](https://user-images.githubusercontent.com/11938477/176201641-75c28e9f-0d70-4deb-8876-4a5dbbdb7868.png)

[2022-06-28 14:25] LAlexMHllc commented on #685
Closing, fixed

[2022-06-28 14:40] LAlexMHllc commented on #520
Text changed to Bold for my test

[2022-06-28 15:01] LAlexMHllc commented on #686
Better, but still needs work. When inputing, sometimes a single letter that was entered will display for a second, then disappear. When removing, sometimes a single removed letter will reappear after a second,

[2022-06-28 16:12] LAlexMHllc opened #690 "Spreadsheet: New Column/Row should display on shared screen"
Shared screen should have displayed update spreadsheet, but even after clicking around, the screens were not in sync.

Screenshot Example of Insert Column

![spreadsheet_new_column_should_display_on_shared_screen](https://user-images.githubusercontent.com/11938477/176228451-1f27b6a5-cbf8-4daf-a48b-e5b418b0cc52.png)

Screenshot Example of Insert Row

![spreadsheet_new_row_should_display_on_shared_s

[2022-06-28 18:00] bluenevus opened #691 "as a user I would like to be able to use a touchscreen to interact with msuite"
touchscreen is a hit or miss.  for example, I can't drag out a line to do a mindmap node.

I can't click and drag stuff that is click and draggable object anywhere

I can't draw a line.  the rest of the drawing objects seem to work in whiteboard

[2022-06-29 14:41] LAlexMHllc commented on #686
Seems to be fixed on Central Node.
Still needs to be fixed for Child Node.

[2022-06-29 14:52] b-solution commented on #686
@LAlexMHllc Can you please test it again and let me know if it's not working.

[2022-06-29 15:09] LAlexMHllc commented on #686
I probably just need to type slower

[2022-06-29 15:10] #686 closed

[2022-06-29 15:45] LAlexMHllc opened #696 "TreeChart and FlowMap: When possible to save space, should decrease node spacing"
Screenshot Example of TreeChart

![treemap_should_remove_wasted_node_spacing_2](https://user-images.githubusercontent.com/11938477/176479343-f39d77c7-bd38-4a83-b319-bf54ff0daed5.png)

![treemap_should_remove_wasted_node_spacing](https://user-images.githubusercontent.com/11938477/176478388-4df58eb9-b2bd-4969-8a05-3901bca66ad8.png)

[2022-06-29 17:53] andrewtran249 opened #697 "[Treechart & Flowchart] Node deletion"
Nodes and labels in the same and different branches would delete when multiple members were working within the same tool.

[2022-06-29 19:48] LAlexMHllc commented on #494
Still needs work. Sometimes an unselected object still gets adjusted.

[2022-06-29 20:05] LAlexMHllc opened #698 "Spreadsheet: Clicking "Reset" should have removed sort icon from column header"
Screenshot Example

![spreadsheet_clicking_Reset_should_remove_sort_icon_from_headers](https://user-images.githubusercontent.com/11938477/176535013-dcb3997d-5a01-4dbc-b91e-7711facebc50.png)

[2022-06-30 12:18] #677 closed

[2022-06-30 15:37] LAlexMHllc opened #699 "TreeChart and FlowMap: Clicking Delete node should delete that node and its descendants"
When delete is clicked on a node that has a descendant without title, only that descendant gets deleted.
Screenshot Example on TreeChart

![treeChart_clicking_Delete_Node_should_delete_node_and_its_children](https://user-images.githubusercontent.com/11938477/176718372-62a9cf6a-5e07-4aec-b19b-9599eda126d5.png)

Screenshot Example on FlowMap

![FlowMap_clicking_Delete_Node_should_delete_node_and_its

[2022-06-30 16:44] LAlexMHllc opened #700 "TreeChart and FlowMap do not function correctly in Firefox after updating node background color to darker color (node with white text and different colored buttons)"
After updating node to a darker color (where the text changes to white and the buttons change from default color), the node action buttons lose function.

- Clicking "Color Picker" does not display the Color Picker
- Clicking "Add Child Node" does not add child node
- Clicking "Delete Node" does not delete the node and its dependents

Screenshot Example

![TreeChart_FlowMap_node_buttons_stop_funct

[2022-06-30 17:16] LAlexMHllc commented on #700
Closing, since not interested in supporting Firefox

[2022-06-30 17:16] #700 closed

[2022-07-01 07:06] b-solution commented on #699
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-07-01 16:00] b-solution commented on #594
@bluenevus I've added tooltip in save button.

[2022-07-01 16:37] LAlexMHllc commented on #594
Since file settings.yml has DELETE_AFTER: '6', the tooltip default date when a document has not been saved should be
today + 6.
Tooltip should also include text "Expires".

Screenshot Example

![default_Save_tooltip_text](https://user-images.githubusercontent.com/11938477/176935385-fa92da6a-eb48-475d-80ab-5e9c42365757.png)

[2022-07-04 08:41] #699 closed

[2022-07-05 08:36] b-solution commented on #594
@bluenevus Can you please test it again and let me know if it's not fixed.

[2022-07-05 14:58] bluenevus commented on #594
its not fixed
![image](https://user-images.githubusercontent.com/3675043/177357033-ff0029b5-08d6-4ad8-b9b2-07e5893de2ed.png)

1. because I never clicked save and settings yml was setup for 6 days if I didn't save the document, the date should have been 11 Jul because its date +6 which is the date set in the YML if I don't click save.  Remember by default if a user doesn't click save it will only r

[2022-07-05 15:00] LAlexMHllc commented on #698
Only the sort column icon should have been removed, NOT the column.
Screenshot Example

![spreadsheet_reset_clicked_with_column_sort_active](https://user-images.githubusercontent.com/11938477/177358147-9c26ea9c-13e4-4773-a2bf-007cf16dd64c.png)

[2022-07-05 15:32] bluenevus opened #709 "as a user, I would like the site to be WCAG 2.0 Level AA accessible"
https://www.w3.org/WAI/standards-guidelines/wcag/

https://www.w3.org/WAI/WCAG21/quickref/

[2022-07-05 15:34] LAlexMHllc commented on #494
@b-solution  Still not fixed.

[2022-07-05 16:07] LAlexMHllc opened #710 "TreeChart and FlowMap: Should be able to just delete untitled node"
Screenshot Example

![flowmap_treechart_should_be_able_just_remove_untitled_node](https://user-images.githubusercontent.com/11938477/177370639-1d7bd951-1725-4c5f-bbc7-556b7bc12be0.png)

[2022-07-06 08:21] b-solution commented on #710
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-07-06 11:41] b-solution commented on #635
@bluenevus Can you please test it again and let me know if it's not working.

[2022-07-06 11:42] b-solution commented on #631
@bluenevus can you please test it again and let me know if it's not working.

[2022-07-06 14:42] bluenevus commented on #594
same issue.  see here.
![image](https://user-images.githubusercontent.com/3675043/177577463-7c9591ed-752b-4337-91f8-e01ec6b5c192.png)

[2022-07-06 14:55] bluenevus commented on #594
I clicked save, and it caluclated the tool tip correctly because its 90 days
![image](https://user-images.githubusercontent.com/3675043/177580173-901dc73a-8170-44ea-ab13-e40829e20a95.png)

but when I click the save button, its 5 days again vs the 90 days I typed previously

![image](https://user-images.githubusercontent.com/3675043/177580289-e2102cb2-a40e-4617-a7e7-4a8ac0be8dad.png)

[2022-07-06 14:56] bluenevus commented on #594
This is a mess and we have been going round in circles.  Just undo everything please and have it the way it was before we did the tooltip.  I will ask another developer to do this requirement because its simply getting worse and multiple things are breaking.

[2022-07-06 16:59] LAlexMHllc opened #715 "Program Settings Projects/Contracts: Update table to display/hide GoTo button after successfully updating Manage Users"
EXAMPLE
Click Manage Users button, then update user role on project/contract OR remove user role on project/contract. The GoTo button
on the Project/Contract table should display/hide according to the update without user having to reload browser.

[2022-07-06 17:04] LAlexMHllc commented on #715
Deleting, since wrong project

[2022-07-06 17:04] #715 closed

[2022-07-07 19:10] LAlexMHllc opened #716 "Spreadsheet map: Should increase margin-right for font-type and font-size drop-down selects"
Should change margin-right from 2px to 2%, so spacing looks like the others
Screenshot Example

![spreadsheet_increase_margin-right_spacing_for_font-type_font-size_drop-down_selects](https://user-images.githubusercontent.com/11938477/177853053-90428d9f-c6b3-4c91-8544-24d539f733f3.png)

[2022-07-07 19:28] LAlexMHllc commented on #631
@b-solution  Still needs to be fixed

[2022-07-07 19:29] bluenevus commented on #631
it happens primarily when you do real time collaboration.  Just tested it myself.  And the cursor jumps to the beginning of the document.

[2022-07-08 14:44] LAlexMHllc opened #717 "Notepad map: Alignment button should be active dependent upon selected text"
Screenshot Example

![spreadsheet_alignment_selector_should_include_drop-down_icon](https://user-images.githubusercontent.com/11938477/178015258-66f02233-f29b-4001-b31a-786b1eec294b.png)

[2022-07-13 08:36] b-solution commented on #716
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5988861/178689220-8ed3099f-0d84-423c-bb85-86941e59863c.png">

[2022-07-13 14:28] b-solution commented on #634
@LAlexMHllc @bluenevus Can you please test it.

[2022-07-13 15:38] LAlexMHllc commented on #634
TreeMap, TreeChart, FlowMap - FIXED

Kanban - Still needs to be fixed

[2022-07-13 16:49] LAlexMHllc opened #720 "Since users collaborating on a map may be assigned to fill in a Node Title, duplicate default node title should not be allowed."
After deleting a node, sometimes a node included after Add Child Node clicked has a duplicate default title. This may cause an issue when users collaborate.
Screenshot Example

![new_node_Title_should_not_have_duplicate_default_name](https://user-images.githubusercontent.com/11938477/178787778-099c12ff-50b2-407d-93c5-fe7483d5e4df.png)

[2022-07-15 16:02] LAlexMHllc opened #721 "TreeMap: Sometimes after deleting a node, the Node Title Error modal will display when Add Child Node is clicked"
Screenshot Example
![treemap_sometimes_node_title_error_displays](https://user-images.githubusercontent.com/11938477/178779642-335887d2-ca71-47a7-93fc-9def7854b29b.png)

[2022-07-17 06:12] b-solution commented on #634
@LAlexMHllc I've fixed this. Can you please test it again.

[2022-07-17 06:12] b-solution commented on #721
@LAlexMHllc I've fixed this. Can you please test it again.

[2022-07-17 06:16] b-solution commented on #680
@LAlexMHllc @bluenevus Can you please test it.

[2022-07-17 09:34] b-solution commented on #651
@bluenevus I'v fixed this issue, can you please test it again and let me know if it's not working.

[2022-07-17 09:44] b-solution commented on #596
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/5988861/179392664-785418ed-6d51-44db-af05-1c52cb235d97.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5988861/179392752-002eb924-f18a-44f1-97c2-84d2af8c8a9b.png">

[2022-07-18 06:51] #721 closed

[2022-07-18 06:52] #634 closed

[2022-07-18 06:53] #651 closed

[2022-07-18 11:43] #680 closed

[2022-07-18 14:23] LAlexMHllc opened #727 "Spreadsheet: Fix the start of Row 1, since overlaps with column header row"
Screenshot Example

![spreadsheet_fix_start_of_row_1__issues_seen_on_downloads](https://user-images.githubusercontent.com/11938477/179532399-93797bda-1d08-474d-a8ab-355b6c5cd03a.png)

[2022-07-19 13:30] b-solution commented on #698
@LAlexMHllc I've fixed this issue can you please test it again and let me know if it's not working.

[2022-07-19 14:30] b-solution commented on #727
@LAlexMHllc I've fixed this issue can you please test it again and let me know if it's not working.

[2022-07-19 14:58] b-solution commented on #494
@LAlexMHllc I have Fixed this issue. Please retest it again.

[2022-07-19 15:50] LAlexMHllc opened #731 "Notepad: Ordered List numbers and Unordered List bullets should be the same size as corresponding text"
Screenshot Example

![notepad_ordered_and_unordered_lists_should_be_same_size_as_text](https://user-images.githubusercontent.com/11938477/179793590-11c735c2-39bb-44bf-a427-38522f5c41e5.png)

[2022-07-19 15:58] b-solution commented on #720
@LAlexMHllc I've fixed this issue. Will you please test it.

[2022-07-19 17:41] LAlexMHllc opened #733 "Spreadsheet: Fix column sort icons"
Screenshot Example

![spreadsheet_fix_column_sort_icons](https://user-images.githubusercontent.com/11938477/179815062-17f36143-e747-495e-8b42-2521e7f2e7eb.png)

[2022-07-19 18:12] b-solution commented on #673
@bluenevus I've this feature. Please test it and let me know if its working for you

[2022-07-19 18:13] b-solution commented on #673
@bluenevus I've added this feature. Kindly test it and let me know if it is working for you.

[2022-07-19 19:11] LAlexMHllc commented on #494
Closing, fixed

[2022-07-19 19:11] #494 closed

[2022-07-19 19:14] bluenevus commented on #596
well, I was looking for this  or for that matter any map default colors

![image](https://user-images.githubusercontent.com/3675043/179830457-99f3df11-6e14-4afd-9c0d-a253843be53d.png)

to start with this color palette.  https://coolors.co/bcd4de-a5ccd1-e7edee-98a8ae-bec1c5

[2022-07-19 19:38] LAlexMHllc commented on #727
Closing, fixed

[2022-07-19 19:38] #727 closed

[2022-07-19 20:01] LAlexMHllc commented on #720
After deleting a node, new node numbers are too high. Probably should just increment each new node number by 1, even after a node was deleted. Don't repeat a number already used, regardless if the node number was used for a deleted node.
EXAMPLE
Existing node numbers are 1 through 10. User deletes nodes with number 4 and 5. The next node added should be Node Number 11.

Screenshot Example

![treec

[2022-07-19 21:07] bluenevus opened #735 "replace microhealth logo with msuite logo"
![mSuite-color-horizontal@4x](https://user-images.githubusercontent.com/3675043/179848576-283e755c-b646-4fc7-a08a-155b7854983d.png)
![mSuite-color-stacked@4x](https://user-images.githubusercontent.com/3675043/179848589-3822eeb5-885a-489c-9c96-17301ae6e87a.png)

replace favicon too please

[2022-07-19 21:11] bluenevus commented on #735
![mSuite-logo-only@4x](https://user-images.githubusercontent.com/3675043/179849090-abe9a22d-e7ca-417b-9ba5-5246967c7300.png)

logo only for favicon and stuff

[2022-07-19 21:13] bluenevus commented on #735
[favicon_package_v0.16.zip](https://github.com/MicroHealthLLC/mSuite/files/9144759/favicon_package_v0.16.zip)

[2022-07-19 21:14] bluenevus commented on #735
![mSuite-color-stacked](https://user-images.githubusercontent.com/3675043/179849620-05871701-da71-4aa8-b7e4-1e0b181be84e.svg)

svg versions if you need it

![mSuite-color-horizontal](https://user-images.githubusercontent.com/3675043/179849624-40953141-b621-4ec7-b9ff-69cd1032f05e.svg)

[2022-07-20 07:38] b-solution commented on #735
@bluenevus I've changed the logo and favicon as you wished please see the image and let me know if you wanted the same. If it's ok for you, I'll update.
<img width="1179" alt="image" src="https://user-images.githubusercontent.com/5988861/179924448-e833d77d-920e-4262-b845-91a06eedc84f.png">

[2022-07-20 13:05] #566 closed, assigned to b-solution

[2022-07-20 13:52] LAlexMHllc commented on #690
Closing, fixed

[2022-07-20 13:52] #690 closed, assigned to b-solution

[2022-07-20 14:13] LAlexMHllc commented on #673
The Forward/Backward feature works.
Would prefer if the object would remain selected after forward/backward click, so the user does not have to reselect the object.

[2022-07-20 14:23] b-solution commented on #733
@LAlexMHllc Can you please test it again and let me know if it's not working.

[2022-07-20 17:29] bluenevus commented on #735
that looks good to me.  can you make the msuite a bit bigger to fit into the space better?

[2022-07-20 17:44] LAlexMHllc commented on #733
Sort icons still look the same

[2022-07-21 10:22] b-solution commented on #735
<img width="1027" alt="image" src="https://user-images.githubusercontent.com/5988861/180191593-f5540b29-17c5-4681-92f7-652551776036.png">

[2022-07-21 13:12] b-solution commented on #733
@LAlexMHllc Can you please suggest any icon you want.
<img width="813" alt="image" src="https://user-images.githubusercontent.com/5988861/180221863-7a4294d8-e5e2-4fea-9d8d-5900d23281e3.png">

[2022-07-21 13:47] LAlexMHllc commented on #733
@b-solution The issue is the direction of the sort icon does not match the sorted results.
triangle up should be for ASC sort
triangle down should be for DESC sort

Screenshot Example

![spreadsheet_sort_arrows](https://user-images.githubusercontent.com/11938477/180229290-b95bce69-82c7-4ff3-ab06-1dbb8cf7acae.png)

[2022-07-21 14:15] LAlexMHllc opened #739 "TreeChart and FlowMap: Fix issues with Toggle descendants shown/hidden"
1. Descendants should only be shown/hidden when the Toggle icon is clicked, instead of anywhere else on the node.
NOTE: The toggle icon does not change direction unless it is clicked.
2. The color of the children node text should not change after being toggled shown/hidden
3. The color of the node connector lines should not change color after being toggled shown/hidden

Screenshot Example

![treec

[2022-07-21 14:24] LAlexMHllc commented on #720
Screenshot Example where no nodes were deleted, yet the Title node number is too high.
Should just increase the next Add Child Node Title number by 1, whether any node was deleted on not.

![node_Title_number_too_high_should_just_increment_by_1_each_Add_Child_Node_click](https://user-images.githubusercontent.com/11938477/180238374-eaf73d7c-4a1a-4566-bd66-3d97cd621bfa.png)

[2022-07-21 14:37] b-solution commented on #720
@LAlexMHllc Can you please test it again and let me know.

[2022-07-21 16:44] LAlexMHllc opened #741 "TreeMap: Should put more space between node Title and its children, so Title will be easier to read"
Screenshot Example

![treemap_should_put_more_space_between_node_Title_and_its_children](https://user-images.githubusercontent.com/11938477/180268653-d8a5460f-b799-4519-9bc4-b9ed295415cf.png)

[2022-07-21 17:01] LAlexMHllc opened #742 "When "Cancel" is clicked on the Color Picker, the styles for the node action buttons should revert"
Screenshot Example

![Color_Picker_Cancel_clicked_node-style_buttons_should_have_reverted](https://user-images.githubusercontent.com/11938477/180271752-1d1b9f60-6bfd-40a2-98de-305a2b067abb.png)

[2022-07-21 17:15] LAlexMHllc opened #743 "TreeMap: Clicking "Cancel" after selecting coordinated color should function"
Clicked color coordination for map, then clicked "Cancel" button. Node colors did not revert.
Screenshot Example

![treemap_clicking_cancel_should_function_after_selecting_color-coordinated](https://user-images.githubusercontent.com/11938477/180273874-b16abaea-1d34-47bb-b483-5fe7e8f0a167.png)

Even after clicking "Reset", the Color Picker stayed open. Clicking "Cancel" still did not function,
Scre

[2022-07-21 17:21] LAlexMHllc commented on #720
Closing, fixed

[2022-07-21 17:21] #720 closed

[2022-07-21 18:08] LAlexMHllc opened #744 "Spreadsheet: Not editing for a few minutes, yet map still in Editing mode instead of Saved mode"
Screenshot Example

![spreadsheet_not_updating_several_minutes_yet_still_editing_mode](https://user-images.githubusercontent.com/11938477/180283563-15b53d63-428d-42f5-9873-7f718a848ebf.png)

[2022-07-21 18:27] LAlexMHllc opened #745 "Spreadsheet: Clicking "Undo/Redo" should update one change"
Screenshot Example

![spreadsheet_clicking_undo_redo_should_be_one_change_each_click](https://user-images.githubusercontent.com/11938477/180286836-8c5df4a6-a8d9-4f25-9680-ea1f62552e0a.png)

[2022-07-21 19:02] LAlexMHllc opened #746 "Spreadsheet: Deleting selected rows and columns should stick"
Selected row(s), then selected "Delete selected rows". The rows are temporarily removed, then the default number of rows displays again.
Screenshot Example

![spreadsheet_delete_selected_rows](https://user-images.githubusercontent.com/11938477/180302671-24c94c0b-7c27-49f2-9939-f815bf36b3b6.png)

![spreadsheet_delete_selected_rows_returns_default_after_a_few_seconds](https://user-images.githubuserc

[2022-07-22 11:33] b-solution commented on #743
@LAlexMHllc I've fixed this issue.

[2022-07-22 11:33] #743 closed

[2022-07-22 11:35] b-solution commented on #741
@LAlexMHllc I've added more space between nodes, can you please test it again and let me know if it's not working.

[2022-07-22 15:51] LAlexMHllc opened #749 "Notepad: Input formula (fx) should function"
Screenshot Example

![notepad_input_formula_does_not_function](https://user-images.githubusercontent.com/11938477/180476706-7815ba5b-5cb3-4273-845b-2571936c815e.png)

[2022-07-22 16:47] LAlexMHllc opened #750 "Color Picker with Recently Used Colors section should display up to the maximum recently used colors"
Screenshot Example on WhiteBoard
After "Update" color on Color Picker, then reopen modal, the updated color should display as a box in the Recently Used Colors section.

![ColorPicker_should_include_all_recently_used_colors](https://user-images.githubusercontent.com/11938477/180486892-7727c4c0-1161-40ec-86bd-f1a850c3656a.png)

[2022-07-22 18:08] LAlexMHllc commented on #741
Update did not fix the issue; only caused issue of unfilled space.
Screenshot Example

![treemap_spacing_issue](https://user-images.githubusercontent.com/11938477/180498422-e741413a-c84e-4d2b-a72a-5535e964e0a6.png)

[2022-07-22 18:10] bluenevus opened #751 "oath2 1.4x is at end of life and needs upgrade to version 2"
You have installed oauth2 version 1.4.10, which is EOL.
No further support is anticipated for the 1.4.x series.

OAuth2 version 2 is released.
There are BREAKING changes, but most will not encounter them, and upgrading should be easy!

[2022-07-22 18:17] LAlexMHllc opened #752 "TreeMap: All nodes should have action buttons"
Screenshot Example

![treemap_some_child_nodes_missing_action_buttons](https://user-images.githubusercontent.com/11938477/180499775-68390cfe-0b9b-43ea-a999-ac4b8d1ede35.png)

[2022-07-22 18:45] LAlexMHllc opened #753 "TreeMap: After clicking "Add Child Node" when several children exists, made some children invisible (not shown)"
Screenshot Example before Add Child Node clicked again.

![treemap_with_5_child_nodes_before_another_add_child_node_click](https://user-images.githubusercontent.com/11938477/180503749-59e83f72-e8e7-4d38-b49c-7be25af09268.png)

Screenshot Example after Add Child Node clicked again, some child nodes are not visible.

![treemap_with_5_child_nodes_after_another_add_child_node_click_some_children_not_v

[2022-07-25 05:34] b-solution commented on #744
@LAlexMHllc I'v fixed this issue, can you please test it again and let me know if it's not working.

[2022-07-25 08:47] b-solution commented on #753
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-07-25 08:47] b-solution commented on #752
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-07-25 08:47] #752 closed

[2022-07-25 08:47] #753 closed

[2022-07-25 08:52] #602 closed

[2022-07-25 08:53] b-solution commented on #603
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/5988861/180737920-3c7558cb-9d11-4e66-af94-ff5776683343.png">

[2022-07-25 08:53] #603 closed

[2022-07-25 08:55] b-solution commented on #604
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/5988861/180737829-c926af9b-2257-468f-b177-571dc8e072be.png">

@LAlexMHllc @bluenevus I have added this functionality. Kindly test it.

[2022-07-25 09:14] b-solution commented on #751
Hey @bluenevus, we're not using **oauth2** in mSuite.2

[2022-07-25 16:32] LAlexMHllc opened #758 "Whiteboard: Clicking "Cancel" on Color Picker should not remove the selected object."
Sometimes clicking "Cancel" on Color Picker removes the selected object.
Screenshot Example

![whiteboard_clicking_Cancel_on_ColorPicker_should_not_remove_object](https://user-images.githubusercontent.com/11938477/180828995-f542f236-cb39-435a-a45d-66c67312508b.png)

[2022-07-25 16:46] LAlexMHllc opened #759 "Kanban: Should fix new Stage default Title"
Screenshot Example

![kanban_fix_new_stage_default_title](https://user-images.githubusercontent.com/11938477/180831277-56f0c45f-b1d2-45d6-9f69-fb7986a22f73.png)

[2022-07-25 17:08] LAlexMHllc opened #760 "Whiteboard: Object added to board should display on shared map"
Object does not consistently display on shared map after being included on the board, then getting deselected.
Screenshot Example

![whiteboard_text_added_should_display_on_shared_map](https://user-images.githubusercontent.com/11938477/180835208-1cc5c398-2472-4e90-acb5-c3866cd212e8.png)

[2022-07-25 17:19] LAlexMHllc commented on #760
Screenshot Example

![whiteboard_sometimes_missing_newly_deselected_object](https://user-images.githubusercontent.com/11938477/180836912-623cb6bb-b41d-4e07-a845-bf28660f205f.png)

[2022-07-25 17:35] LAlexMHllc commented on #760
Both users added an object to the board, and neither object displays on the other user's screen.
Screenshot Example

![whiteboard_sometimes_missing_newly_deselected_object_2](https://user-images.githubusercontent.com/11938477/180839496-54db70a9-11a9-4c04-9dda-bb69ab0b98c7.png)

[2022-07-25 18:13] #735 closed

[2022-07-25 19:06] LAlexMHllc commented on #744
Closing, since Save displays after enter or tab key is pressed

[2022-07-25 19:06] #744 closed

[2022-07-26 06:45] b-solution commented on #733
<img width="752" alt="image" src="https://user-images.githubusercontent.com/5988861/180941082-38412a06-9c6c-4391-8f35-79ecd5804e47.png">
<img width="476" alt="image" src="https://user-images.githubusercontent.com/5988861/180941094-9ac831df-cfbe-4067-a563-d4ebd396db64.png">

[2022-07-26 06:45] #733 closed

[2022-07-26 06:47] #635 closed

[2022-07-26 10:01] b-solution commented on #758
@LAlexMHllc I've fixed this issue, can you please check it again and let me know if it's not working.

[2022-07-26 18:46] LAlexMHllc opened #762 "Whiteboard: Position of updated object should display on shared screen."
Sometimes changing object position does not update on shared screen.
Screenshot Example

![whiteboard_changed_object_position_did_not_update_shared_screen](https://user-images.githubusercontent.com/11938477/181087095-3042988d-febb-4beb-b1f3-221e8c8c61ae.png)

[2022-07-26 18:57] LAlexMHllc opened #763 "Whiteboard: Object should not be selected when "Select" button is inactive"
Screenshot Example

![whiteboard_object_should_not_be_selected_when_Select_button_inactive](https://user-images.githubusercontent.com/11938477/181089353-58982887-5145-4b80-a98c-72a40dbcea26.png)

[2022-07-26 19:18] LAlexMHllc commented on #758
Closing, seems fixed

[2022-07-26 19:18] #758 closed

[2022-07-26 19:18] LAlexMHllc opened #764 "Whiteboard: Clicking "Cancel" on the Color Picker should not deselect the object"

[2022-07-27 07:01] b-solution commented on #759
@LAlexMHllc Can you please test it again.

[2022-07-27 13:50] LAlexMHllc opened #766 "TreeMap: Node buttons should not overlap Title."
Screenshot Example

![treemap_node_buttons_should_not_overlap_title](https://user-images.githubusercontent.com/11938477/181263731-1aafbb55-0de5-431c-b8aa-f88ce1a18944.png)

[2022-07-27 14:36] b-solution commented on #766
<img width="963" alt="image" src="https://user-images.githubusercontent.com/5988861/181274914-8f7f266a-b161-46a6-aa74-b7f05fef9cf3.png">

@LAlexMHllc If I set title like this, will it be okay for you?

[2022-07-27 14:55] LAlexMHllc commented on #766
@bluenevus Please respond to comment above

[2022-07-27 19:02] LAlexMHllc commented on #766
Title should remain centered, and just break to more lines as needed.

[2022-07-27 19:04] bluenevus commented on #766
like carriage return...but we should limit to 2 lines because it can't be a sentence

[2022-07-27 19:05] LAlexMHllc commented on #759
"Stage NaN" was not used for Title in today's test, but the Stage # should still start from 1 (example: "Stage 1") when new map is created or Reset is clicked.

[2022-07-28 14:49] LAlexMHllc commented on #766
Should move the Title down so that the buttons will not overlap the title when the container is narrower width.
Screenshot Example
NOTE: Same screenshot from Issue #741.

![treemap_with_more_space_between_Title_and_child_nodes](https://user-images.githubusercontent.com/11938477/181566068-bb7c605b-e7c9-4d23-9ec1-23efd615e46b.png)

[2022-07-29 05:23] #751 closed

[2022-07-29 11:17] b-solution commented on #759
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-07-29 11:24] b-solution commented on #760
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-07-29 11:24] b-solution commented on #762
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-07-29 11:24] b-solution commented on #763
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-07-29 11:24] b-solution commented on #764
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-07-29 12:50] b-solution commented on #766
@LAlexMHllc Can you please test it and let me know.
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5988861/181763960-a0cc0ce4-e2cc-4786-a281-1809b6c5b2d8.png">

[2022-07-29 12:53] b-solution commented on #741
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5988861/181764615-1292e2e1-c9cc-4867-8a1d-16693df5733e.png">

[2022-07-29 13:12] #759 closed

[2022-07-29 14:20] LAlexMHllc commented on #766
Still need more space between node buttons and Title
Screenshot Example

![treemap_still_needs_more_space_between_node_buttons_and_Title](https://user-images.githubusercontent.com/11938477/181780295-8260d6ce-86a7-4ea5-85b6-481e7b72c4a9.png)

[2022-07-29 14:27] LAlexMHllc commented on #741
Still needs to be fixed.
Screenshot Example

![treemap_with_more_space_between_Title_and_child_nodes_3](https://user-images.githubusercontent.com/11938477/181781574-1762f248-a685-498a-ad0d-de1d256fb57c.png)

[2022-07-29 14:38] LAlexMHllc commented on #763
Closing, fixed

[2022-07-29 14:38] #763 closed

[2022-07-29 14:42] LAlexMHllc commented on #762
Closing, fixed

[2022-07-29 14:42] #762 closed

[2022-07-29 14:42] LAlexMHllc commented on #760
Closing, fixed

[2022-07-29 14:42] #760 closed

[2022-07-29 16:17] LAlexMHllc commented on #604
Reopening, since Undo/Redo buttons are missing on top menu bar for Mindmap and Notepad.

Whiteboard and Spreadsheet should have Undo/Redo buttons moved to the top menu bar, and be styled consistent to other buttons.

Clicking Undo/Redo should  undo/redo all action steps.

[2022-07-30 14:00] #750 closed

[2022-07-30 14:20] b-solution commented on #742
@LAlexMHllc I have fixed this issue. Please test it and tell me if it is working for you.

[2022-07-30 14:41] b-solution commented on #731
@LAlexMHllc I have fixed this issue. Please tell me if it's not working for you

[2022-07-30 14:41] b-solution commented on #749
@LAlexMHllc I have fixed this issue. Please tell me if it's not working for you

[2022-07-30 14:43] b-solution commented on #717
@LAlexMHllc I have changed some design. Please tell me if it's not working for you

[2022-07-30 14:44] b-solution commented on #631
@bluenevus  @LAlexMHllc I have fixed this issue. Please tell me if it's not working for you

[2022-07-30 14:47] b-solution commented on #623
@bluenevus @LAlexMHllc I have fixed this issue. Please tell me if it's not working for you. Real time collaboration will work on every space or return key.

[2022-07-30 14:48] b-solution commented on #622
@bluenevus @andrewtran249 I have fixed this issue. Please tell me if it's not working for you

[2022-07-30 14:52] #742 closed

[2022-07-30 14:59] #749 closed

[2022-07-30 14:59] #622 closed

[2022-07-30 14:59] #631 closed

[2022-08-01 07:16] b-solution commented on #764
@LAlexMHllc I've fixed this issue. Now if you create a new object the map in real time will be one step behind but it will match its steps afterwards. So in this way, i think it will be okay. Can you please test and let me know.

[2022-08-01 14:45] LAlexMHllc commented on #623
real time updates are still not functioning

[2022-08-01 16:24] LAlexMHllc commented on #623
After applying style changes and formatting text, real time function really breaks down.

[2022-08-01 16:28] bluenevus commented on #623
you can see my experience.  If I test with only one screen and look at a 2nd screen it appears to work fine.  However, if I start cycling between screens, the updates from others begin to break down.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/3675043/182197985-29211708-4ff9-4a06-b0c8-2165017cfc1b.png)

[2022-08-01 16:28] LAlexMHllc commented on #731
Still needs to be fixed for Large and Huge text
Screenshot Example

![notepad_fix_size_of_lists_for_Large_and_Huge](https://user-images.githubusercontent.com/11938477/182198086-d3a8de2c-2a96-4930-a51d-d745c79be486.png)

[2022-08-01 16:40] LAlexMHllc commented on #717
Only one alignment should be active a time for selected text or input text.
Screenshot Example

![notepad_only_one_alignment_active_at_a_time_for_selected_or_input_text](https://user-images.githubusercontent.com/11938477/182199944-58e82d15-a819-4ae1-96ab-809d10dd56a4.png)

[2022-08-01 16:51] LAlexMHllc opened #776 "Whiteboard: Object displayed selected as if invisible (or white), and Color Picker did not display correctly afterwards."
Screenshot Example

![whiteboard_text_displayed_invisible_color_picker_did_not_display_correctly](https://user-images.githubusercontent.com/11938477/182201807-7e4c308b-7921-4866-9281-ebca97c051e6.png)

[2022-08-01 17:47] LAlexMHllc commented on #764
Clicking Cancel on Color Picker did not deselect object on latest test

[2022-08-01 17:47] #764 closed

[2022-08-01 17:54] LAlexMHllc commented on #766
Still needs more space
Screenshot Example

![treemap_more_space_between_node_buttons_and_Title](https://user-images.githubusercontent.com/11938477/182211531-ac972d77-c140-4e34-8b91-afd8393b3677.png)

[2022-08-02 07:12] b-solution commented on #766
@LAlexMHllc Can you please test it again.
<img width="1355" alt="image" src="https://user-images.githubusercontent.com/5988861/182314160-0dfb2c8b-47b4-435f-8ae5-d71f07e07d07.png">

[2022-08-02 14:24] LAlexMHllc opened #778 "Notepad: Blinking input cursor should display in container when map initially displays or after Reset is clicked"
Screenshot Example

![notepad_should_display_blinking_input_cursor_initially_and_after_reset_clicked](https://user-images.githubusercontent.com/11938477/182398406-241932c7-149f-4a33-8bbb-c8a2cdd30f3c.png)

[2022-08-02 14:28] LAlexMHllc commented on #766
Closing, fixed

[2022-08-02 14:28] #766 closed

[2022-08-02 16:07] LAlexMHllc commented on #741
Should be able to fit two lines for Title.
Screenshot Example

![treemap_need_room_for_2_line_Title](https://user-images.githubusercontent.com/11938477/182421345-4328215d-a67e-485c-823d-6001664fc5ce.png)

[2022-08-02 18:04] LAlexMHllc opened #779 "Kanban map: Updated stage attributes should be in sync while users collaborate in real time"
Screenshot Example

![kanban_updated_stage_attributes_should_be_in_sync_on_collaboration](https://user-images.githubusercontent.com/11938477/182443336-a730eb8b-e0ea-4dff-a7d0-add7d3b348f1.png)

[2022-08-02 18:14] LAlexMHllc commented on #779
After updating a stage Title, the stage Title on the shared screen updated as well, but also reverted the background color.
Screenshot Example

![kanban_after_updating_stage_Title__shared_screen_updates_but_reverts_to_default_background_color](https://user-images.githubusercontent.com/11938477/182445065-49be5835-0701-4038-a4b4-41b19a9952d3.png)

[2022-08-02 19:30] LAlexMHllc commented on #717
Screenshot Example that active alignment buttons don't always apply to selected text

![notepad_text_alignment_buttons_active_when_text_selected](https://user-images.githubusercontent.com/11938477/182457776-f50113cc-6c59-43f3-af9c-e82805118436.png)

[2022-08-03 15:56] LAlexMHllc opened #780 "When browser reload is clicked on map screen, sometimes the index screen displays instead; even when map was saved."
Screenshot Example

![clicking_browser_reload_on_map_screen_should_reload_map_instead_of_displaying_index](https://user-images.githubusercontent.com/11938477/182654402-14f5933b-7a65-4a16-94b9-10762861ade1.png)

[2022-08-03 16:11] LAlexMHllc commented on #745
Undo currently functions to remove all attributes from cells. Redo just adds all attributes back to all cells.

[2022-08-03 16:39] #745 closed

[2022-08-03 18:04] LAlexMHllc commented on #604
**NOTE: Undo/Redo object attributes, etc, should be included as an enhancement in the future.**

[2022-08-04 09:01] b-solution commented on #780
@LAlexMHllc It’s working good on my side, you may have a look on demo.
https://user-images.githubusercontent.com/5988861/182807590-b8c3a21e-68ff-4c76-b6df-500d921bb000.mp4

[2022-08-04 09:12] b-solution commented on #780
@LAlexMHllc It’s working good on my side, you may have a look on demo.
https://www.loom.com/share/b23bfce727c24c389d62ccc940f2dab6

[2022-08-04 11:03] b-solution commented on #779
@LAlexMHllc It’s working good on my side, you may have a look on demo.

https://www.loom.com/share/e069a97070034178b4a6d0e0f5cec8bb

[2022-08-04 12:22] b-solution commented on #776
@LAlexMHllc Can you please test it again and let me know if it's not working.

[2022-08-04 12:37] #606 closed

[2022-08-04 13:40] b-solution opened #784 "When click on logo on home page, request shouldn't be generated."

[2022-08-04 13:54] #784 closed

[2022-08-04 14:02] LAlexMHllc commented on #780
Click a map box on the index.
On map screen Save Public.
Click reload.
After screen reloads, click reload again.

[2022-08-04 15:39] LAlexMHllc commented on #778
Closing, fixed

[2022-08-04 15:39] #778 closed

[2022-08-04 16:16] andrewtran249 opened #785 "[Notepad - Numbered List] In an indented lettered subsection, a subsequent return from a blank subsection does not reset to a numbered list in the next line (Microsoft Word behavior)"
![image](https://user-images.githubusercontent.com/106859528/182897778-b8a2ec3e-0a11-4139-8c44-ecbb288cf2ee.png)

[2022-08-04 16:18] LAlexMHllc commented on #779
Still needs to be fixed.
Screenshot Example

![kanban_stage_backgroundColor_change_not_in_sync](https://user-images.githubusercontent.com/11938477/182898711-e74dfe5b-91f3-4e71-ad8b-f14981e38bac.png)

[2022-08-04 18:59] LAlexMHllc commented on #776
Screenshot Examples with some steps that can lead to this issue

![whiteboard_white_previously_selected_after_Text_1](https://user-images.githubusercontent.com/11938477/182931770-446fbdb5-7379-42cc-9bf2-04388ae67504.png)

![whiteboard_white_previously_selected_after_Text_2](https://user-images.githubusercontent.com/11938477/182931825-694d13ee-e8a6-4cf5-9f4e-93ef3cbf10e6.png)

![whiteboard_white_pr

[2022-08-05 14:12] b-solution commented on #780
@LAlexMHllc Can you please test it again and let me know if it's not working.

[2022-08-05 14:46] LAlexMHllc opened #788 "Spreadsheet: Selected columns or rows should remain selected when the context menu displays"
Selected columns or rows should remain selected when the context menu is displayed, regardless of the order of selection.

Screenshot Example for columns

![spreadsheet_multi-selected-consecutive_columns_should_remain_selected_when_context_menu_displays](https://user-images.githubusercontent.com/11938477/183101688-51bf18bf-2da5-46e0-b71f-8ee1b8eb6d28.png)

Screenshot Example for rows

![spreadshee

[2022-08-05 16:04] LAlexMHllc commented on #780
Still not fixed

[2022-08-05 16:38] LAlexMHllc opened #789 "Whiteboard: Add "Text" should not change Increase/Decrease values to 1; should include correct recently used color box on Color Picker."
Since adjustments to Increase/Decrease do change the line weight of Text, why do these values automatically change to 1 after Text is clicked?
Screenshot Example

![whiteboard_add_Text_should_not_change_Increase_and_Decrease_values_1](https://user-images.githubusercontent.com/11938477/183121597-447e6dfe-667f-4b23-9838-de04e168b0a3.png)

Screenshot Example of recently used color on Color Picker is

[2022-08-05 16:39] LAlexMHllc commented on #789
See related Issue #776

[2022-08-05 17:19] LAlexMHllc opened #790 "Sometimes when reload was clicked while collaborating on a map, the shared screen returned to index."
Screenshot Example

![reload_clicked_while_collaborating_caused_index_display_on_shared_map](https://user-images.githubusercontent.com/11938477/183128528-25c65a7f-696c-4610-aa1e-4f03120ad891.png)

[2022-08-05 17:45] LAlexMHllc commented on #717
NOTE: Changed Title of issue, since drop-down was replaced with alignment selector buttons

[2022-08-09 13:56] LAlexMHllc commented on #779
When Reset is clicked, the Stage background colors should also reset on the shared map for other users.
Screenshot Example

![kanban_stage_backgroundColor_change_not_in_sync_after_Reset](https://user-images.githubusercontent.com/11938477/183667724-cc743cb0-83de-4ab4-aaf5-178b6cc835ed.png)

[2022-08-09 14:25] LAlexMHllc opened #791 "Kanban map: Background colors for Stages should update according to selected color scheme"
Whether collaborating in real time or not, color scheme updates for Stages do not function correctly.

Screenshot Example after updating without collaboration in real time.

![kanban_select_color_scheme_ColorPicker_did_not_update_correctly](https://user-images.githubusercontent.com/11938477/183674182-04a8fe0b-f83e-419d-8111-04337702ecd3.png)

_______________________________________________________

[2022-08-09 18:10] LAlexMHllc commented on #696
See related Issue #601

[2022-08-10 19:54] LAlexMHllc opened #794 "Spreadsheet: User should be able to insert row before/after"

[2022-08-10 19:59] LAlexMHllc commented on #789
Closing, fixed

[2022-08-10 19:59] #789 closed

[2022-08-11 14:12] b-solution commented on #790
@LAlexMHllc Can you please test it again, I've fixed this issue.

[2022-08-11 15:03] LAlexMHllc commented on #790
Closing, fixed

[2022-08-11 15:03] #790 closed

[2022-08-11 16:09] LAlexMHllc opened #796 "Update top menu buttons and move position of Editing/Edited text below."
Top menu buttons on ALL maps

![top_menu_button](https://user-images.githubusercontent.com/11938477/184215104-44fec206-80db-4a61-96ca-2be7ef01fe03.png)

1. Make top menu buttons smaller by decreasing padding around icons. The icon size is fine, just don't need as much white space.
2. Change color of button icons on hover (like Comments button), instead of displaying text.
3. Include button descrip

[2022-08-11 18:54] LAlexMHllc commented on #682
"Undefined" should be replaced by User <id#> by default, unless user input Name.
Screenshot Example

![editing_should_be_User_ID_by_default_instead_of_undefined](https://user-images.githubusercontent.com/11938477/184217503-5975e8c9-6d99-4c4a-970a-7003a32f0a8c.png)

NOTE: Also see related Issue #796

[2022-08-11 19:23] LAlexMHllc commented on #682
Should not update User Name to blank
Screenshot Example

![should_not_update_Username_to_blank](https://user-images.githubusercontent.com/11938477/184222405-00eb6b11-f17b-4de8-ac90-5cb5ee8b2b1c.png)

[2022-08-12 07:22] b-solution commented on #682
@LAlexMHllc Can you please test with latest pull i've fixed this issue yesterday and let me know if it's not working.

[2022-08-12 14:37] LAlexMHllc opened #799 "WhiteBoard: New object should actually be included on all shared maps"
Screenshot Example where new object did not actually get included until it got deselected, and therefore did not display on shared maps.

![whiteboard_new_object_not_included_on_shared_yet_edited_by_displays_1](https://user-images.githubusercontent.com/11938477/184377569-51f20a0e-45b0-4e77-b25c-7aa548f1cfe3.png)

![whiteboard_new_object_not_included_on_shared_yet_edited_by_displays_2](https://user

[2022-08-12 15:52] LAlexMHllc commented on #799
Screenshot Example where new object was deselected and still did not display on shared map until "Select" button was clicked inactive.

![whiteboard_new_object_not_included_on_shared_yet_edited_by_displays_6](https://user-images.githubusercontent.com/11938477/184394323-35094b45-6587-493a-91b3-14f0be8a3f39.png)

![whiteboard_new_object_not_included_on_shared_yet_edited_by_displays_7](https://user-i

[2022-08-12 16:38] LAlexMHllc commented on #796
Button size and padding still need to be fixed (smaller). Leave the size of button icons alone.
Fix tooltip for Save icon; abbreviate day and month, fit on one line.
Should have consistent space below buttons for Edit lines. Map should not jump around when Edit Line(s) are shown/hidden.

Screenshot Example

![top_menu_button_changes_edited_text_below_2](https://user-images.githubusercontent.com/11

[2022-08-12 17:26] LAlexMHllc commented on #682
User Id# should not be duplicate. Sometimes when User Name removed (left blank), when user edits the map it will display a duplicate User Id# when collaborating.

[2022-08-12 17:48] LAlexMHllc opened #800 "TreeChart: After user deleted nodes on shared map, extra node connectors displayed on collaborator's map."
Screenshot Example

![treechart_after_shared_map_deleted_nodes_extra_node_connectors_displayed_on_shared_map](https://user-images.githubusercontent.com/11938477/184416110-872b4c11-c409-4dd3-bca1-cdd0146214fd.png)

[2022-08-12 18:01] LAlexMHllc commented on #800
NOTE: The extra connectors no longer displayed after user toggled descendants of main node hidden/shown

[2022-08-13 07:52] b-solution commented on #796
@LAlexMHllc Can you please test it again and let me know if anything update :) .
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5988861/184474608-361adf72-196e-4be1-9698-e6610e7e2a63.png">

[2022-08-13 11:33] b-solution commented on #799
@LAlexMHllc I've fixed this issue. Please test it and let me know if it is working for you.

[2022-08-15 14:08] LAlexMHllc opened #805 "WhiteBoard: Clicking Confirm Reset should reset shared maps in real time"
Screenshot Example

![whiteboard_userA_clicks_confirm_Reset_success_but_shared_map_did_not_reset](https://user-images.githubusercontent.com/11938477/184650995-2fcd16b3-1166-4d77-a40d-c8d05325fe53.png)

[2022-08-15 14:35] LAlexMHllc opened #806 "All maps: Title element should be a responsive single line text box that spans the space between the logo and the first icon in the header bar."
Title element should be a responsive single line text box that spans the space between the mSuite logo and the first icon in the header bar. The text shall be centered in that text box for the title with the word "Title" present, so that the user knows where to start typing for that box to edit. That title box will not scroll horizontally, vertically or have adjustable handle to resize the text bo

[2022-08-15 14:38] bluenevus commented on #806
span this space centered
![image](https://user-images.githubusercontent.com/3675043/184656064-241814dd-4d6f-414d-85bc-55a5e69d2ed5.png)

also we need to fix this when you address the title.  typing the title changes the size of the title bar and the main window
![image](https://user-images.githubusercontent.com/3675043/184655999-cb1304f1-095b-4692-8cab-588c1a179328.png)

[2022-08-15 14:54] LAlexMHllc opened #807 "Mindmap: Before edit map, the tooltip style for child node top menu buttons should be the same as after edit"
Screenshot Example

![mindmap_child_node_top_menu_button_icons_before_after_edit](https://user-images.githubusercontent.com/11938477/184659129-9b0d32a9-c9f0-42ed-9ab2-1299c89ba57c.png)

[2022-08-15 16:21] LAlexMHllc opened #808 "WhiteBoard: Fix Line functions for display and editing"
Line function should not be considered Editing/Last Edited until true.
Screenshot Example

![whiteboard_before_map_edited_and_before_Line_clicked](https://user-images.githubusercontent.com/11938477/184671725-745d1ffe-ee90-4b74-a78d-51b39480a24e.png)

![whiteboard_before_map_edited_and_after_Line_clicked_but_not_drawing](https://user-images.githubusercontent.com/11938477/184671773-fb7ecf35-b844-4dc

[2022-08-15 16:43] LAlexMHllc commented on #776
Closing, since seems fixed

[2022-08-15 16:43] #776 closed

[2022-08-15 17:01] LAlexMHllc commented on #796
Closing, fixed

[2022-08-15 17:01] #796 closed

[2022-08-15 17:36] LAlexMHllc commented on #808
Sometimes the shared maps get messed up when trying to draw consecutive Lines.
Screenshot Example 1

![whiteboard_shared_map_after_trying_draw_consecutive_Lines](https://user-images.githubusercontent.com/11938477/184674411-c942bf43-7dc0-4f02-9cf2-6cd042ba1a69.png)

Screenshot Example 2

![whiteboard_drawing_more_than_one_consecutive_line_sometimes_messes_up_board_2](https://user-images.githubuserc

[2022-08-15 18:40] LAlexMHllc commented on #808
NOTE: The issues are worse when more than one user draws lines on the board in real time

[2022-08-15 18:44] LAlexMHllc commented on #808
Line might function better if it's like Pencil. Other user does not view Line until user is done drawing.

[2022-08-16 14:02] LAlexMHllc commented on #799
Still needs to be fixed after last update.
Screenshot Example where Text was included on one screen flashed displayed on the shared screen, then disappeared from shared screen.

![whiteboard_text_flashed_onto_shared_screen_then_disappeared](https://user-images.githubusercontent.com/11938477/184898954-3c36334f-bd43-4831-b866-6ac7a4226bae.png)

NOTE: For another test, after clicking Text, the object

[2022-08-16 16:07] LAlexMHllc commented on #682
Last code update replaced empty User Name with 5 random characters.
Screenshot Example

![maps_user_name_replaced_by_5_random_characters_when_left_empty](https://user-images.githubusercontent.com/11938477/184920429-cb788098-c75b-4911-95f0-c6a3e496158c.png)

However, User Name still accepted blank(s) when edited. When Close is clicked on the User Name modal, should validate that trim(UserName) is n

[2022-08-16 17:22] LAlexMHllc opened #816 "All maps: When user opens shared map for real time collaboration, existing Edit Text should automatically display."
Screenshot Example

![all_maps_Edit_Texts_should_display_when_shared_real_time_map_is_open](https://user-images.githubusercontent.com/11938477/184940606-1ba231be-4524-44ce-a739-6f907c16da25.png)

[2022-08-16 17:58] LAlexMHllc opened #817 "All maps: Edit Text should not display until an actual change was made to the map."
Edit Text displays before actual changes to the map:
- For all maps, when Title is clicked.
- Mindmap: When canvas background is clicked, or a top menu button is clicked.
- Whiteboard: When canvas background is clicked.

[2022-08-16 18:34] LAlexMHllc opened #818 "Spreadsheet: Sometimes when map creator shares URL before editing map first, maps might get stuck and don't consistently update."
Screenshot Example

![spreadsheet_update_and_edit_text_issues](https://user-images.githubusercontent.com/11938477/184953482-6d2b6a92-ffc0-4c0a-bc3f-8f4a617ca2e6.png)

[2022-08-16 18:35] LAlexMHllc opened #819 "Spreadsheet: Cell attributes should be in sync for real time collaboration"
Screenshot Example

![spreadsheet_cell_attributes_should_be_in_sync_for_real_time](https://user-images.githubusercontent.com/11938477/184953638-ec9f7624-7f9f-47bc-b47d-b1cb884781c6.png)

[2022-08-17 14:06] LAlexMHllc opened #820 "Notepad: Stuck in Editing mode, when should be Saved mode"
User input word, then "enter". "Editing..." mode continued to display, when it should be in "Saved" mode.
Screenshot Example

![notepad_stuck_in_Editing_mode_when_should_be_Saved](https://user-images.githubusercontent.com/11938477/185154846-77496a07-19d1-4d82-9ed4-d58ef70a6a3d.png)

[2022-08-17 14:18] LAlexMHllc opened #821 "Notepad: Input not in sync on shared map"
Missing words, transposed characters, and missing attributes.
Screenshot Example

![notepad_not_in_sync_transposed_characters_missing_words_and_attributes](https://user-images.githubusercontent.com/11938477/185157665-ce64cf3b-3fcc-4e89-b088-55a1d23ba469.png)

[2022-08-17 17:00] LAlexMHllc opened #822 "TreeMap: When node "Title" is not in edit mode, the background should be transparent."
User clicked on Title, then clicked off of Title. Should function like TreeChart and FlowMap.
Screenshot Example

![treemap_node_Title_background_color_should_be_transparent_when_not_Edit_mode](https://user-images.githubusercontent.com/11938477/185199059-f209886f-9708-432d-a05d-2ad32873b2bd.png)

[2022-08-18 10:55] b-solution commented on #822
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-08-18 13:54] LAlexMHllc commented on #822
Still needs to be fixed.
The last node Title clicked off still remains white, until another node Title is clicked, map edit, save, etc. occurs.
Screenshot Examples

![treemap_node_Title_background_color_should_be_transparent_when_not_Edit_mode_2](https://user-images.githubusercontent.com/11938477/185412327-f4dd5249-fd25-4b83-af31-1c489262f81a.png)

[2022-08-18 14:13] LAlexMHllc commented on #821
User created map, input text, styled text, clicked Save, then shared URL.
The word was missing letters and all styling.
Screenshot Example

![notepad_not_in_sync_cut_off_word_letters_none_of_the_attributes_after_Save_map_then_share_URL](https://user-images.githubusercontent.com/11938477/185416898-386dc060-dee6-4d0f-b468-701a69cc8c52.png)

[2022-08-18 14:25] LAlexMHllc opened #824 "Notepad: "Save Public" and "Save Private" should save all input with attributes"
Input text with attributes, then Save Public or Save Private.
Clicked reload browser, and all the text with attributes did not display.

[2022-08-18 19:27] LAlexMHllc opened #826 "Notepad: Should remove duplicate Editing message. Keep the new one below top menu buttons, to be consistent."
Screenshot Example

![notepad_duplicate_Editing](https://user-images.githubusercontent.com/11938477/185478016-5ec70bc1-f6f1-45b3-930c-491dbec6ef71.png)

[2022-08-22 07:11] b-solution commented on #799
@LAlexMHllc Can you please test it again.

[2022-08-22 08:16] b-solution commented on #791
@LAlexMHllc Can you please test it again and let me know if it's not working.

[2022-08-22 11:13] b-solution commented on #780
@LAlexMHllc can you please test it again.

[2022-08-22 14:06] LAlexMHllc commented on #822
When a node Title is in edit mode and the user clicks anywhere outside of the main parent node  (examples: header area, white margins around main parent node), the Title exits edit mode, but the background remains white, instead of changing to transparent.

Screenshot Example of node Title in Edit mode

![treemap_node_Title_background_color_should_be_transparent_when_not_Edit_mode_3](https://user-

[2022-08-22 14:19] LAlexMHllc commented on #682
Closing, fixed

[2022-08-22 14:19] #682 closed

[2022-08-22 14:27] LAlexMHllc commented on #780
Closing, seems fixed

[2022-08-22 14:27] #780 closed

[2022-08-22 14:31] LAlexMHllc commented on #799
Closing, seems fixed

[2022-08-22 14:31] #799 closed

[2022-08-22 14:37] LAlexMHllc commented on #818
Closing, fixed

[2022-08-22 14:37] #818 closed

[2022-08-22 14:47] b-solution commented on #822
@LAlexMHllc Can you please test it again.

[2022-08-22 15:33] LAlexMHllc commented on #822
Closing, fixed

[2022-08-22 15:33] #822 closed

[2022-08-23 13:11] b-solution commented on #779
@LAlexMHllc Can you please test it again.

[2022-08-23 13:22] b-solution commented on #673
@LAlexMHllc If the select remain. User will not be able to see changes there fore we have to do this, if you want us to do like you want we will do but it will cause this.

[2022-08-23 14:05] b-solution commented on #697
@andrewtran249 Can you please test it again.

[2022-08-23 15:23] andrewtran249 commented on #697
@b-solution  Good morning - I tested TreeChart with 2 additional collaborators. Users noted that editing functions had improved. We were not able to reproduce any node deletions.

**Additional feedback:**
Any attempt to edit the text within a node or page title, the text information would delete and the node would deselect. This was triggered by addition of nodes, changing color of nodes, deletion

[2022-08-25 13:57] LAlexMHllc commented on #791
Closing, fixed

[2022-08-25 13:57] #791 closed

[2022-08-25 14:16] LAlexMHllc commented on #779
Still does not consistently update background on shared screen, and still does not always change background colors to default after Reset on shared screens.
Screenshot Examples

![kanban_backgrounds_should_update_all_screens_real_time_collab](https://user-images.githubusercontent.com/11938477/186688799-29b2b45a-e4be-497a-ab47-3163665a0e37.png)

![kanban_backgrounds_should_revert_default_after_rese

[2022-08-25 14:21] LAlexMHllc commented on #673
Closing, fixed

[2022-08-25 14:23] #673 closed

[2022-08-25 14:34] LAlexMHllc commented on #529
Reopening, since Poll Map does not function as expected.
NOTE: Requirements for Poll Map are in progress.

[2022-08-25 17:14] LAlexMHllc opened #834 "Spreadsheet: Missing "Rename this column""
User used to be able to Rename a Column Header.
Screenshot Example

![Spreadsheet_rename_this_column](https://user-images.githubusercontent.com/11938477/186727535-4d63cf3f-7848-4aac-a0ae-e83049294c14.png)

Screenshot Example of missing Column selector "Rename this column"

![spreadsheet_missing_Rename_this_column](https://user-images.githubusercontent.com/11938477/186728240-c11d78c6-71c9-43dd-af33

[2022-08-26 06:46] b-solution commented on #805
@LAlexMHllc I've fixed this issue. Kindly test it again and let me know if it is working for you

[2022-08-26 09:23] b-solution commented on #739
@LAlexMHllc can you please retest it and let me know if its not working for you.

[2022-08-26 19:41] LAlexMHllc commented on #529
User (poll creator) wants to make an online Poll, potentially collaborating with others; then send the link to others to fill out and submit. Poll Results will be viewed on the Poll Collaborators Screen only.

POLL COLLABORATORS SCREEN

Poll creator should:
- Click the Poll Map box on the Index screen.
- Click the "Save" button on the top menu, then "Save Private" on the Poll Map that displays.
-

[2022-08-29 16:33] LAlexMHllc commented on #794
Closing, fixed

[2022-08-29 16:33] #794 closed

[2022-08-29 16:44] LAlexMHllc opened #838 "Kanban: Clicking "Reset" when collaborating in real time should reset all shared maps"
Screenshot Example

When Reset is clicked, the Stage background colors should also reset on the shared map for other users.
Screenshot Example

![kanban_stage_backgroundColor_change_not_in_sync_after_Reset](https://user-images.githubusercontent.com/11938477/183667724-cc743cb0-83de-4ab4-aaf5-178b6cc835ed.png)

[2022-08-29 16:44] LAlexMHllc commented on #779
Closing, since seems fixed

[2022-08-29 16:44] #779 closed

[2022-08-29 17:06] LAlexMHllc commented on #806
Closing, fixed

[2022-08-29 17:07] LAlexMHllc commented on #807
Closing, fixed

[2022-08-29 17:07] #807 closed

[2022-08-29 17:59] LAlexMHllc commented on #838
For this Example, the screen which "Reset" was clicked did not reset, but the shared screen did reset.
When a "Color Picker" button was clicked on a Stage node, the Color Picker did not display; the background reverted to default color after link was clicked a second time.
When a "Delete" Stage link was clicked, that Stage was not removed on that screen, but was removed on the shared screen.
Scree

[2022-08-29 19:02] LAlexMHllc commented on #805
Still does not consistently Reset all shared maps

[2022-08-30 15:26] b-solution commented on #838
@LAlexMHllc I've fixed this issue. Kindly test it again and let me know if it is working for you.

[2022-08-30 15:44] LAlexMHllc commented on #838
Closing, seems fixed

[2022-08-30 15:44] #838 closed

[2022-08-30 16:17] LAlexMHllc commented on #691
Kanban: Clicking a Stage link should consistently perform the intended function.

[2022-08-31 14:14] LAlexMHllc opened #842 "Calendar should automatically update without reload browser (create, edit, delete)"
User input two New Events on separate dates, and neither displayed on the Calendar of the creator, until reload browser.
The events display on the shared screen, because the events existed before the user opened the URL.

Screenshot Example before reload clicked on map creator, and shared URL

![calendar_new_events_should_display_on_calendar_without_reload_browser](https://user-images.githubuserco

[2022-08-31 14:51] LAlexMHllc opened #843 "Calendar: Sometimes, unable to Add Recurrence when "On" date selected, since "Continue" button remains disabled."
Screenshot Example

![calendar_edit_event_Friday_Movie](https://user-images.githubusercontent.com/11938477/187719448-5cac8c4b-9f9d-468f-b59b-e7baf42c7c1a.png)

![calendader_repeat_occurrence_on_week_month__continue_disabled](https://user-images.githubusercontent.com/11938477/187708785-4648b0fe-06e3-44f0-8ae9-3357aee5480d.png)

[2022-08-31 15:21] LAlexMHllc opened #844 "Calendar: Change header text on Edit Form from "Add Event" to "Edit Event""
Screenshot Example

![calendar_change_header_text_on_edit_form](https://user-images.githubusercontent.com/11938477/187718953-c1d8b3a8-c2e4-4e93-aec2-4adcf826ae5c.png)

[2022-08-31 15:54] LAlexMHllc opened #845 "Calendar: Time selectors and displays should not include seconds"
Remove seconds from all Time selectors and displays.
Screenshot Example

![calendar_remove_seconds_from_Time_selectors_and_displays](https://user-images.githubusercontent.com/11938477/187723536-7196a50c-945a-4259-b5fc-f6c4bd8781d5.png)

[2022-08-31 16:07] LAlexMHllc opened #846 "Calendar: Should include "Undo" and "Redo" buttons on header bar"
Screenshot Example

![header_buttons_undo_redo](https://user-images.githubusercontent.com/11938477/187727733-e9897188-882d-4e7f-9606-e9e82b3d5b68.png)

[2022-08-31 16:18] LAlexMHllc opened #847 "Calendar: Remove "Busy/Free" selector from Event Forms"
Screenshot Example

![calendar_remove_busy_free_from_Event_Forms](https://user-images.githubusercontent.com/11938477/187728452-2d8fa28c-0fb5-4b8b-9dbf-a939b10a394f.png)

[2022-08-31 16:25] LAlexMHllc commented on #845
Would prefer Minute selector in 15 minute intervals.
EXAMPLE
00, 15, 30, 45

[2022-08-31 17:11] bluenevus commented on #654
this is also happening with the new calendar function.  its not reading cable.yml for its redis connection.  please address so anything calling redis is using cable.yml config

[2022-08-31 17:20] LAlexMHllc opened #848 "Calendar: Should always have option to include Time with Date on Event Forms"
Sometimes unable to include Time with Date on Event Forms
Screenshot Example

![calendar_sometimes_unable_to_include_Time_on_Event_Forms](https://user-images.githubusercontent.com/11938477/187740347-2335d3cf-4591-4868-9211-c782ad3839e8.png)

[2022-08-31 18:43] LAlexMHllc opened #849 "Calendar: Exported file missing Month/Year for all views. Sometimes All Day Event missing for Week/Day views, dependent upon Zoom when file downloaded."
Downloaded files (PDF and PNG) missing info.
Screenshot Example of Export modal

![calendar_export_pdf_image](https://user-images.githubusercontent.com/11938477/187748711-6a0dc735-35f2-49c0-83b6-3749b37410e9.png)

Screenshot Example of Event on Month View

![calendar_month_view](https://user-images.githubusercontent.com/11938477/187747980-c06178a7-3003-46bb-8873-91ae42125b35.png)

Screenshot Examp

[2022-08-31 19:48] LAlexMHllc commented on #805
Closing, seems fixed

[2022-08-31 19:48] #805 closed

[2022-09-01 03:03] bluenevus opened #851 "unable to add a node to a mindmap"
after working on a mindmap, I left the mindmap and came back to it later and it doesn't allow me to add any more nodes giving me this console error

![image](https://user-images.githubusercontent.com/3675043/187823139-07d46c93-3957-429b-8e93-3c83d744db95.png)

[2022-09-01 03:04] bluenevus opened #852 "mindmap central idea not updating"
if i type something in central idea for the mindmap sometimes it just doesn't update and stays central idea

othertimes it will save then you can't edit it and it stays what ever it saved

sometimes I can come back and it will update the central node but after updating it, I cant edit it again

[2022-09-01 09:58] #844 closed

[2022-09-01 09:58] #847 closed

[2022-09-01 10:13] #845 closed

[2022-09-01 11:27] b-solution commented on #851
@bluenevus, will you please retest it with latest pull and tell me if it is not working for you. I've tested this issue and found that there is not any error on my side.

[2022-09-01 14:09] LAlexMHllc opened #856 "Calendar: Remove "Busy" from event card"
Screenshot Example

![calendar_remove_busy_from_event_card](https://user-images.githubusercontent.com/11938477/187934846-38ed0c65-210a-4c81-92cd-b56a88c21555.png)

[2022-09-01 14:46] LAlexMHllc opened #857 "Calendar: Update event with Add Recurrence "On" date selected, last day of week selected should be included on Calendar"
Screenshot Example

![calendar_edit_event_Friday_Movie_2](https://user-images.githubusercontent.com/11938477/187943427-631cae90-43cb-4d22-a1f0-978c21d7c9b6.png)

![calendar_edit_event_Friday_Movie_2_On_until_last_Fri_of_month](https://user-images.githubusercontent.com/11938477/187943442-03345070-c450-4893-a40d-50a018e861c6.png)

![calendar_edit_event_Friday_Movie_2_On__last_Fri_missing_on_calendar

[2022-09-01 14:46] LAlexMHllc commented on #857
See related Issue #843

[2022-09-01 16:20] LAlexMHllc commented on #843
User is unable to copy an event on the first Tuesday of the next Month, since "Continue" is disabled with "On" selected date.
Screenshot Example

![calendar_click_edit_First_Tuesday_of_Month](https://user-images.githubusercontent.com/11938477/187963580-3e9717b5-d693-4bf1-b395-a46ac7d553d2.png)

![calendar_click_edit_First_Tuesday_of_Month_2](https://user-images.githubusercontent.com/11938477/18796

[2022-09-01 16:30] LAlexMHllc commented on #852
Sometimes Central Idea text is not updated when map is saved. When user clicks reload browser, the old central node text displays.

[2022-09-01 17:02] LAlexMHllc opened #858 "Calendar: Should include "Editing by:" and "Last Edited by" below header bar buttons"
Screenshot Example

![calendar_should_include_Edited_text_below_header_bar_buttons](https://user-images.githubusercontent.com/11938477/187971280-2be314c8-8b64-4d63-ad39-de237e80ab4e.png)

[2022-09-01 17:20] LAlexMHllc commented on #851
I was able to add nodes on my tests.

[2022-09-01 17:34] bluenevus commented on #851
doesn't work.  if you pull from the central idea it will work, if you pull from a node off the central idea you get the error and it also depends on how big the tree is.   Any resizing of the screen will mess up the pull definitely browser and to a lesser degree using the zoom tool

[2022-09-01 19:12] LAlexMHllc opened #859 "Mindmap: Intended child node of Central Node mistakenly attached to sibling instead"
User tried to create child node to Central Node by dragging from Central Node. When the user stopped dragging, the new node mistakenly was attached to a sibling node.
Screenshot Example

![mindmap_intended_child_node_of_Central_Node_mistakenly_attached_to_sibling](https://user-images.githubusercontent.com/11938477/187985455-310b0f9e-50b3-41ba-ab37-29a70860a2f2.png)

Screenshot Example after draggi

[2022-09-02 14:40] LAlexMHllc opened #860 "Mindmap: Fix node attachment error and wrong node attachment issue caused as a result of the error."
Fix error that displays after failed attempt to attach node to Child Node: "Cannot read properties of null (reading 'left')"
Fix child attachment to wrong node error

Screenshot Example of active child node that user wants to attach add Child Node

![mindmap_user_tries_to_draw_from_child_node_1](https://user-images.githubusercontent.com/11938477/188172847-425ba87b-b7e2-47c0-9f3d-030eec8982ba.png)

[2022-09-02 14:46] LAlexMHllc commented on #860
See related Issue #859

[2022-09-05 07:18] #856 closed

[2022-09-06 11:22] b-solution commented on #842
@LAlexMHllc Can you please test it again and let me know if it's not working for you.

[2022-09-06 17:17] LAlexMHllc commented on #843
Closing, fixed

[2022-09-06 17:17] #843 closed

[2022-09-06 17:44] LAlexMHllc opened #866 "Clicking "Save Private" after Logo was clicked should save the map with the existing password, then return to the Index screen"
Screenshot Example

![logo_click_Save_Private_should_save_current_password_then_return_Index](https://user-images.githubusercontent.com/11938477/188703625-c54df3c3-0d3e-49dd-89dc-cbe81cc42aff.png)
![logo_click_Save_Private_should_save_current_password_then_return_Index_2](https://user-images.githubusercontent.com/11938477/188703861-375f4aff-1d72-40c1-8ce2-c36a293a6a6a.png)

[2022-09-06 18:27] LAlexMHllc opened #867 "Calendar: Update default Start Time and End Time on Add Event Form"
Screenshot Example of Add Event when displayed with "Month" view selected
Start Time should have current time displayed in 15 minute block as default time
End Time should be 15 minutes past the Start Time as default

![calendar_Month_view_double_click_to_Add_Event_default_Start_make_CurrentTime_End_make_plus15min](https://user-images.githubusercontent.com/11938477/188709236-aa9fb405-cbb6-4c49-909a

[2022-09-06 19:06] LAlexMHllc commented on #858
Closing, fixed

[2022-09-06 19:06] #858 closed

[2022-09-06 19:07] LAlexMHllc commented on #857
Closing, fixed

[2022-09-06 19:07] #857 closed

[2022-09-06 19:19] LAlexMHllc commented on #842
Still needs to be fixed

[2022-09-06 19:48] LAlexMHllc opened #868 "Calendar - Month view: Should display more than one entry at a time on Events Listing modal that displays when # more link is clicked."
Screenshot Example

![calendar_click_more_link_modal_should_display_more_than_one_entry_on_list_at_once](https://user-images.githubusercontent.com/11938477/188725286-abdb2287-49c0-4c5f-a050-133ef8b3f577.png)

Screenshot Example of more than one Event on the Listing

![calendar_click_more_link_modal_should_display_more_than_one_entry_on_list_at_once_2](https://user-images.githubusercontent.com/1193

[2022-09-06 22:34] bluenevus commented on #868
only applies to the month view because the others pick the time on the week view or the day view correctly right now

[2022-09-07 05:01] #866 closed

[2022-09-07 14:56] LAlexMHllc commented on #868
Should include close button "X" on modal. Should style Date/Day like single event display.
Screenshot Example

![calendar_click_more_link_modal_should_display_more_than_one_entry_on_list_at_once_3](https://user-images.githubusercontent.com/11938477/188910306-fe3f55d9-05cd-4793-8804-2254216f9c2e.png)

[2022-09-07 18:06] LAlexMHllc opened #873 "Spreadsheet: Deleting selected column(s) should stick"
Screenshot Example

![spreadsheet_Delete_selected_columns_should_stick](https://user-images.githubusercontent.com/11938477/188947236-08bc9c9a-1a7c-4616-87b4-9792dece307f.png)

[2022-09-07 18:17] LAlexMHllc opened #874 "Spreadsheet: Fix inconsistent behavior when user tries to input into cell."
Sometimes inputting into selected cell is difficult.
- Sometimes characters typed into active cell does not display until user clicks off.
- Sometimes characters display, then disappear when the cell is active; content displays after cell is inactive.
- Sometimes all characters clicked do not display after user finishes inputting into cell.
- Sometimes cell content disappears, even after map saved

[2022-09-07 18:45] LAlexMHllc opened #875 "Spreadsheet: Selecting "Insert a new column before/after" should stick"
Selecting Insert a new column before/after temporarily inserts the column, then the spreadsheet removes the column.
Screenshot Example

![spreadsheet_insert_a_new_column_before_after_should_stick](https://user-images.githubusercontent.com/11938477/188954404-0ec43a9b-2428-492e-9e76-f30e2e79103c.png)

[2022-09-07 19:25] LAlexMHllc opened #876 "Spreadsheet: "Totals" is confusing on the pivot tables (graphs), so fix or remove."
Remove "Totals" from bar graphs, line graphs, or any graphs, because it skews the visualizations.

For tables, Totals are always at the bottom with the term "Total".

If unable to fix issues with "Total", then just remove the it, because its confusing.

[2022-09-08 08:53] b-solution commented on #860
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working for you. :)

[2022-09-08 13:51] bluenevus commented on #654
the calendar aspect is not fixed.  its still going to 127.0.0.1 for redis and NOT reading cable.yml for the redis connection url

[2022-09-08 17:05] bluenevus opened #878 "configure failed password lockout time"
after X number failed password attempts, as an administrator under settings I would like to configure the lock out period of that document such as 15 minutes.  So I would have a setting for the number of failed password attempts that allows me to also configure the duration of lockout.

I would also like to be able to configure the number of lockout events on the document that results in a permane

[2022-09-09 15:25] bluenevus opened #883 "when performing a poll the system errors out"
$
I, [2022-09-09T11:23:43.243504 #50314]  INFO -- : [e2075428-e763-4a94-940e-d50d4ab8a09a] Processing by MindmapsController#update as JSON
I, [2022-09-09T11:23:43.243585 #50314]  INFO -- : [e2075428-e763-4a94-940e-d50d4ab8a09a]   Parameters: {"name"=>"this_is_a_test_poll", "mindmap"=>{"canvas"=>"{\"title\":\"te$
D, [2022-09-09T11:23:43.246521 #50314] DEBUG -- : [e2075428-e763-4a94-940e-d50d4ab8a09

[2022-09-09 15:27] bluenevus opened #884 "show results on poll keeps spinning but doesn't display any data"
![image](https://user-images.githubusercontent.com/3675043/189386330-064b6fa9-f9ed-4ff4-b370-a5d52a432a71.png)

[2022-09-09 15:29] bluenevus opened #885 "after saving a poll and before the first data entry, the poll designer should be able to edit the poll"
![image](https://user-images.githubusercontent.com/3675043/189386642-5d572660-552a-414f-950f-738ae06db63f.png)

[2022-09-09 15:30] bluenevus opened #886 "the poll url should be automatically generated"
the reules for creating a unique url is way to complicated.  greater than 10 characters, less than 20 and its too complicated for users, so this should be an automatic url

![image](https://user-images.githubusercontent.com/3675043/189386970-f24ca459-f488-4f9f-8834-779b2439e335.png)

[2022-09-09 15:34] bluenevus opened #887 "poll should be responsive rather than require scroll bars partciularly when the resolution is as high as 1080p"
![image](https://user-images.githubusercontent.com/3675043/189387745-ea68f3fa-f427-4f96-816a-4ecfc660afd8.png)

[2022-09-09 15:35] bluenevus commented on #887
not sure why its iframed but I expected to scroll on the page vs scroll within a frame on the page so we can capitalize on the real estate

[2022-09-09 15:36] bluenevus opened #888 "there shouldn't be 2 poll titles"
the title as on every map is the title.  we only need a black box for a description that isn't required and we should grab the title of the poll from the typical location users enter a title

![image](https://user-images.githubusercontent.com/3675043/189388120-c5cbb692-398a-4f0d-83ec-83cfa9328158.png)

[2022-09-09 15:37] bluenevus commented on #888
this should be the poll title
![image](https://user-images.githubusercontent.com/3675043/189388159-0f7ae96e-2e79-4376-bafc-bb489631bf94.png)

then we can remove this
![image](https://user-images.githubusercontent.com/3675043/189388197-ce3502ca-e43c-4144-8fb2-14c581c52b42.png)

and just leave a box like so that says description that isn't required.

![image](https://user-images.githubusercontent.co

[2022-09-09 18:17] LAlexMHllc opened #890 "Poll map: Change text on "CREATE POLL" button to "PREVIEW"; when clicked, perform submit/validate; on success, display poll."
Screenshot Example

![poll_change_text_function_CREATE-POLL_button](https://user-images.githubusercontent.com/11938477/189417594-bf3cc1fe-22b6-437e-96f5-68bf31c18be7.png)

[2022-09-09 18:20] LAlexMHllc opened #891 "Poll map: Include "Undo" and "Redo" buttons on the header bar"
Screenshot Example

![header_buttons_undo_redo](https://user-images.githubusercontent.com/11938477/189418217-c8be28f3-ecf2-4bf3-8681-f9d7d4f5996f.png)

[2022-09-09 18:26] LAlexMHllc opened #892 "Poll map: Remove "Save" and "Cancel" buttons from Poll Form"
Screenshot Example

![poll_remove_Save_and_Cancel_from_Poll-Form](https://user-images.githubusercontent.com/11938477/189419056-7ab4279d-bad4-4ba5-8c61-80013f47bddb.png)

[2022-09-09 18:32] LAlexMHllc opened #893 "Poll map - Poll Display: Change text on "CANCEL" button to "EDIT""
Screenshot Example

![poll_display_change_text_on_CANCEL_button_to_EDIT](https://user-images.githubusercontent.com/11938477/189420074-bd0f0143-d38e-4069-b317-b40abaf88be9.png)

[2022-09-09 18:52] LAlexMHllc opened #894 "Poll map: Error displayed on User Poll screen generated after "FINALIZE" button clicked on Poll Collaborator screen"
Screenshot Example

![poll_clicked_finalize_error_screen_displayed](https://user-images.githubusercontent.com/11938477/189423493-8ef3b5f6-c3e9-4ab1-b3fe-17ef207686d2.png)

[2022-09-09 18:54] bluenevus commented on #894
The button should read "Launch Poll"

[2022-09-12 06:42] b-solution commented on #867
@LAlexMHllc I've fixed this, can you please test it again and let me know if it's not working.

[2022-09-12 06:43] b-solution commented on #849
@LAlexMHllc I've fixed this, can you please test it again and let me know if it's not working.

[2022-09-12 06:44] b-solution commented on #842
@LAlexMHllc I've fixed this, can you please test it again and let me know if it's not working.

[2022-09-12 14:51] LAlexMHllc opened #898 "Calendar: Previous/Next navigation links should be visible"
Clicking the area where the links previously were visible functions as expected, the but links should be visible.
Screenshot Example

![calendar_navigation_links_should_be_visible](https://user-images.githubusercontent.com/11938477/189685385-4c7b3ec2-7044-48b8-a414-9b25acb8823f.png)

[2022-09-12 16:01] LAlexMHllc opened #899 "Calendar: Should remain displayed in "Week" or "Day" view when selected, even when events do not exist."
When no event exists, selecting "Week" or "Day" view only displays as expected for a second, then returns to "Month" view.

Screenshot Example when "Week" view is selected

![calendar_user_selected_Week_view_when_no_events_exist](https://user-images.githubusercontent.com/11938477/189701349-308f01a9-08d2-4046-8299-eaa47ed4f2af.png)

![calendar_should_remain_in_Week_view_when_selected](https://user-

[2022-09-12 16:49] LAlexMHllc opened #900 "Calendar - Event Forms: Change Minutes selector options to 00, 15, 30, and 45 only"
Screenshot Example

![calendar_Time_selector_should_only_have_00-15-30-45_for_Minutes_options](https://user-images.githubusercontent.com/11938477/189710921-9ad0eb59-8288-4483-84cb-8ea23488779f.png)

[2022-09-12 16:52] LAlexMHllc opened #901 "Calendar - Add Event Form: Change default End Time to one hour past Start Time"

[2022-09-12 16:53] LAlexMHllc commented on #867
Closing, see related Issue #900 and Issue #901

[2022-09-12 16:53] #867 closed

[2022-09-12 17:05] LAlexMHllc commented on #842
@b-solution  Still not working on production. Please see Sept 9 emails regarding this issue.

[2022-09-12 17:40] LAlexMHllc commented on #849
Month/Year now display on download file - DONE

- All Day Event still missing sometimes.

- Would like all Events on that Week and Day to display on the download. Currently, only events listed on the first view hours display on download file, even when that Time Range is in view on the screen prior to Export click.

- The view selected should be displayed on the download, instead of always "Day"
S

[2022-09-12 19:54] LAlexMHllc opened #902 "Tree Chart: Fix the default display"
After the last update, Tree Chart displays incorrectly.

Screenshot Example

![tree_chart_display_is_off](https://user-images.githubusercontent.com/11938477/189743725-0619dbe5-9200-4186-bfef-cee1f0520f23.png)

[2022-09-12 19:55] LAlexMHllc opened #903 "Flow Map: Fix the default display"
After the last update, Flow Map displays incorrectly.

Screenshot Example

![flow_map_display_is_off](https://user-images.githubusercontent.com/11938477/189743926-5621a525-3259-4708-a450-86e84077f4db.png)

[2022-09-13 09:01] #903 closed

[2022-09-13 09:01] #902 closed

[2022-09-13 10:06] #888 closed

[2022-09-13 10:09] #894 closed

[2022-09-13 12:29] #893 closed

[2022-09-13 12:29] #890 closed

[2022-09-13 13:43] b-solution commented on #842
@LAlexMHllc we need access to production server or staging.

[2022-09-13 14:48] bluenevus commented on #842
it works

[2022-09-13 15:24] LAlexMHllc opened #910 "Poll map: Poll URL should be required"
Screenshot Example

![poll_url_should_be_required](https://user-images.githubusercontent.com/11938477/189941951-598ea49d-7001-424b-bdf5-99a2d93f4a85.png)

[2022-09-13 15:45] bluenevus commented on #910
the url should be automatically generated, random and like the rest of mpath, they can't change it because its a security problem with urls that users can guess

[2022-09-13 15:55] LAlexMHllc opened #911 "Poll map: Preview mode should display Description text (when exists); and only allow maximum selected options for questions."
Screenshot Example of Poll Form

![poll_form_test_1_description_and_Q1](https://user-images.githubusercontent.com/11938477/189948575-89450a48-dcfd-49c1-bb3c-c9c478b43d75.png)

![poll_form_test_1_Q2](https://user-images.githubusercontent.com/11938477/189948603-4f9cee46-d26e-4893-890c-b087c84d7998.png)

Screenshot Example of Poll Preview

![poll_form_test_1_preview](https://user-images.githubusercon

[2022-09-13 16:03] LAlexMHllc opened #912 "Poll map: Clicking "LAUNCH POLL" should allow a user to take the Poll, instead of displaying message, "TIME FOR VOTES IS UP !!!""
Screenshot Example

![poll_preview_click_LAUNCH_POLL](https://user-images.githubusercontent.com/11938477/189950691-a3f79b9a-29bf-45f5-be96-fbd58b516b7e.png)
![poll_user_message_POLL_TIME_IS_UP_message](https://user-images.githubusercontent.com/11938477/189950886-559cd370-7bab-4af2-ba24-6145059c3b80.png)

[2022-09-13 16:28] LAlexMHllc commented on #860
Closing, seems fixed

[2022-09-13 16:28] #860 closed

[2022-09-13 16:48] LAlexMHllc commented on #900
Closing, fixed

[2022-09-13 16:48] #900 closed

[2022-09-13 16:51] LAlexMHllc commented on #901
Month view: Add Event - DONE

Week and Day view: Add Event - Still Needs To Be Fixed

[2022-09-13 19:53] LAlexMHllc commented on #892
Closing, fixed

[2022-09-13 19:53] #892 closed

[2022-09-13 19:54] LAlexMHllc commented on #868
Closing, fixed

[2022-09-13 19:54] #868 closed

[2022-09-14 11:23] b-solution commented on #788
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:23] b-solution commented on #819
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:23] b-solution commented on #873
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:24] b-solution commented on #875
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:24] b-solution commented on #834
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:24] b-solution commented on #874
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:24] b-solution commented on #910
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:25] b-solution commented on #911
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:25] b-solution commented on #912
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:27] b-solution commented on #884
@bluenevus I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:27] b-solution commented on #886
@bluenevus I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:27] b-solution commented on #883
@bluenevus I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:28] b-solution commented on #885
@bluenevus I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:28] b-solution commented on #887
@bluenevus I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:28] b-solution commented on #888
@bluenevus I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:30] b-solution commented on #899
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:31] b-solution commented on #846
@LAlexMHllc I've added undo and redo, can you please test it and let me know if it's not working for you.

[2022-09-14 11:31] b-solution commented on #848
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 11:31] b-solution commented on #849
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-14 14:42] b-solution commented on #596
Hi @bluenevus, I think that you were looking some thing like this. Kindly check this and tell me if its good for you.
https://user-images.githubusercontent.com/5988861/190185765-5a4f757c-690e-4f30-b28b-09ae00e4a676.mp4

[2022-09-14 14:49] bluenevus commented on #596
yes but to start with this color profile so that the text by default will be back and the background is light so its easy to see  https://coolors.co/bcd4de-a5ccd1-e7edee-98a8ae-bec1c5

[2022-09-14 16:57] LAlexMHllc commented on #899
Closing, fixed

[2022-09-14 16:57] #899 closed

[2022-09-14 18:02] LAlexMHllc commented on #846
Closing, since Undo and Redo buttons exist on header bar

[2022-09-14 18:02] #846 closed

[2022-09-14 18:11] LAlexMHllc opened #916 "Calendar: Clicking "Undo" should still display the selected Day or Week view, instead of month"
Screenshot Example before Undo clicked with "Day" view selected, after user had Add Event

![calendar_should_display_same_view_after_Undo_checked_1_Day](https://user-images.githubusercontent.com/11938477/190229775-68a5ad8a-7335-4b1b-99dc-c54d54329ddc.png)

Screenshot Example after Undo clicked with "Day" view selected

![calendar_should_display_same_view_after_Undo_checked_2_Day](https://user-imag

[2022-09-14 18:31] #834 closed

[2022-09-14 18:31] LAlexMHllc commented on #875
Closing, fixed

[2022-09-14 18:31] #875 closed

[2022-09-14 18:33] LAlexMHllc commented on #873
Closing, fixed

[2022-09-14 18:33] #873 closed

[2022-09-14 18:36] LAlexMHllc commented on #788
The order of selected columns/rows makes a difference whether all the columns/rows remain selected whenever the context menu displays. See the screenshots above.

[2022-09-14 18:40] LAlexMHllc commented on #819
Still not always in sync

[2022-09-14 18:52] LAlexMHllc opened #917 "Spreadsheet: Clicking confirm "Reset" should display default map, instead of a blank canvas"
Screenshot Example after confirm "Reset"

![spreadsheet_confirm_reset_should_display_default_instead_of_blank_canvas](https://user-images.githubusercontent.com/11938477/190238605-0d8c12a1-1295-4d81-a800-c872d3c9d1c4.png)

[2022-09-14 18:59] LAlexMHllc commented on #874
Closing, seems fixed

[2022-09-14 18:59] #874 closed

[2022-09-14 19:05] LAlexMHllc commented on #910
Closing, fixed

[2022-09-14 19:05] #910 closed

[2022-09-14 19:07] LAlexMHllc commented on #886
Closing, fixed

[2022-09-14 19:07] #886 closed

[2022-09-14 19:15] LAlexMHllc commented on #911
When Description text exists, included in Preview - DONE

Maximum allowable selected options on Preview - Still needs to be done

Screenshot Example

![poll_preview_maximum_allowable_selected_options](https://user-images.githubusercontent.com/11938477/190242726-e321f673-9306-4eb2-82a4-0dc89158e606.png)

[2022-09-14 19:33] LAlexMHllc commented on #884
Still needs to be fixed

[2022-09-14 19:43] LAlexMHllc commented on #912
Closing, since message no longer displays

[2022-09-14 19:43] #912 closed

[2022-09-15 08:31] #917 closed

[2022-09-15 08:57] #916 closed

[2022-09-15 09:02] b-solution commented on #901
@LAlexMHllc In week view and day view this is a feature that user can create event of custom time gap by dragging on the time grid do you want me to remove it and rather force user to only be able to get a one hour gap between start time and end time on Add Event Form?

[2022-09-15 13:45] LAlexMHllc commented on #901
@b-solution User should not be forced to only have one hour gap on Week and Day views.
The default End Time should just be set at one hour gap past default Start Time. User should still be able to adjust both times on the form. User should still be able to drag Event on the time grid to adjust times as well.

[2022-09-16 14:17] bluenevus commented on #821
It was sycncing somewhat before the last notepad update.  It completely stopped syncing after the last notepad update.  The only way it syncs between two users is a manual refresh

[2022-09-16 15:00] #821 closed

[2022-09-16 15:02] LAlexMHllc commented on #520
Reopening, since issue returned after last update.
Screenshot Example

![notepad_text_styled_B_should_be_bold_2](https://user-images.githubusercontent.com/11938477/190670119-22614f4a-fd10-4f69-a9ab-261643b3ce02.png)

[2022-09-16 15:05] LAlexMHllc opened #921 "Notepad: Clicking "B" active should change selected text to Bold"
Issue returned after last update.
Screenshot Example

![notepad_text_styled_B_should_be_bold_2](https://user-images.githubusercontent.com/11938477/190670119-22614f4a-fd10-4f69-a9ab-261643b3ce02.png)

[2022-09-16 15:08] #520 closed

[2022-09-16 15:09] bluenevus commented on #921
see the original issue that was fixed previously.  https://github.com/MicroHealthLLC/mSuite/issues/520

[2022-09-16 16:10] bluenevus opened #922 "as a user, I would like to take any document that I created and duplicate it into a new document and new url"
If someone takes the time to create a document in any of the maps as a template, they may want to reuse it to create a new document with others filling it in.  For example, they create a calendar for a process.  They may want to use that to create a new calendar based on a template they created

so if an icon was here to duplicate or create new from the existing
![image](https://user-images.github

[2022-09-16 16:20] bluenevus opened #923 "calendar view display 2 lines"
Given there appears to be space for one more extra line, can we add one more line so you can at least see 2 items on the calendar view

![image](https://user-images.githubusercontent.com/3675043/190685023-fba2774f-672c-47d8-b10b-d7761ed89add.png)

[2022-09-16 16:53] LAlexMHllc opened #924 "Calendar - Event Forms: "Description" should not be required"
Screenshot Example

![calendar_Event_Form_Description_should_not_be_required](https://user-images.githubusercontent.com/11938477/190690059-6dced139-d482-4001-8391-e546dfe2ad09.png)

[2022-09-16 16:58] LAlexMHllc commented on #848
Closing, fixed

[2022-09-16 16:58] #848 closed

[2022-09-16 17:30] LAlexMHllc commented on #849
Downloads for Month view - DONE

Week View download is still missing All Day Event - STILL NEEDS TO BE FIXED

Screenshot Example of Calendar in browser
![calendar_week_view_with_all_day_event](https://user-images.githubusercontent.com/11938477/190697338-b28ae46a-41f7-4750-b5c4-e634525f9d69.png)

Screenshot Example of download missing all day event
![calendar_week_view_with_all_day_event_download_m

[2022-09-16 17:41] LAlexMHllc commented on #820
Closing, since Editing/Saved was removed from that location.

[2022-09-16 17:41] #820 closed

[2022-09-16 18:00] LAlexMHllc commented on #859
Closing, since this issue has not occurred after last update

[2022-09-16 18:00] #859 closed

[2022-09-16 18:03] LAlexMHllc commented on #852
Closing, since seems fixed

[2022-09-16 18:03] #852 closed

[2022-09-16 18:04] LAlexMHllc commented on #826
Closing, since removed

[2022-09-16 18:04] #826 closed

[2022-09-16 18:05] LAlexMHllc commented on #851
Closing, seems fixed

[2022-09-16 18:05] #851 closed

[2022-09-16 18:21] LAlexMHllc commented on #824
Closing, fixed

[2022-09-16 18:21] #824 closed

[2022-09-16 18:41] LAlexMHllc opened #925 "Notepad: During real time collaboration, when user scrolls down the screen, the map should not automatically return to the top of the screen."
Screenshot Example before user scrolls to bottom of screen

![notepad_before_user_scrolls_to_bottom_of_screen](https://user-images.githubusercontent.com/11938477/190708098-f3dd523b-9aa5-435c-a314-ff552d8fefd3.png)

Screenshot Example after user scrolled to the bottom of the screen

![notepad_after_user_scrolls_to_bottom_of_screen](https://user-images.githubusercontent.com/11938477/190708103-af2dd3

[2022-09-16 18:50] LAlexMHllc opened #926 "Notepad: During real time collaboration, "Editing and Last Edited" text keeps updating, even when none of the users are editing."
More than one user has the map open at the same time. After one of the users inputs, the "Editing and Last Edited" text keeps adjusting, even when none of the users continue to edit the map.

[2022-09-19 06:09] #924 closed

[2022-09-19 06:29] b-solution commented on #921
@LAlexMHllc Can you please test it again.

[2022-09-19 06:31] #887 closed

[2022-09-19 06:31] #876 closed

[2022-09-19 07:14] b-solution commented on #926
@LAlexMHllc Can you please test it again and if the issue remains can you please mention the steps in detail by which you encountered this problem. Thanks

[2022-09-19 08:01] b-solution commented on #731
@LAlexMHllc Can you please test it again.

[2022-09-19 11:27] b-solution commented on #925
@LAlexMHllc I've fixed this issues can you please test it again and let me know if it's not working.

[2022-09-19 14:20] LAlexMHllc commented on #921
Closing, fixed

[2022-09-19 14:20] #921 closed

[2022-09-19 14:34] LAlexMHllc commented on #731
Bullets with Text size Huge should be larger and centered vertically
Screenshot Example

![notepad_Huge_bullets_should_be_larger_and_vertically_centered](https://user-images.githubusercontent.com/11938477/191042869-8fbd7fb6-ccf8-4515-99c9-8aac378ec997.png)

[2022-09-19 14:42] LAlexMHllc commented on #731
Numbered List still needs to be fixed for Text size Small (too large) and Huge (too small)
Screenshot Example

![notepad_Small_and_Huge_numbered_list_needs_to_be_fixed](https://user-images.githubusercontent.com/11938477/191044453-f6335526-11ea-426c-9698-260c2a47ba89.png)

[2022-09-19 15:24] LAlexMHllc commented on #925
Closing, seems fixed

[2022-09-19 15:24] #925 closed

[2022-09-19 15:28] LAlexMHllc commented on #926
Closing, seems fixed

[2022-09-19 15:28] #926 closed

[2022-09-20 07:27] b-solution commented on #884
@LAlexMHllc Can you please test it again.

[2022-09-20 07:38] b-solution commented on #901
@LAlexMHllc Can you please test it again and let me know.

[2022-09-20 07:42] b-solution commented on #717
@LAlexMHllc Can you please test it again and let me know if it's not working.

[2022-09-20 10:07] b-solution commented on #911
@LAlexMHllc Can you please test it again.

[2022-09-20 10:08] #883 closed

[2022-09-20 10:45] b-solution commented on #923
@bluenevus I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-20 10:53] b-solution commented on #731
@LAlexMHllc Can you please again test it.

[2022-09-20 12:41] b-solution commented on #817
@LAlexMHllc I've fixed this, Can you please test it again.

[2022-09-20 12:42] b-solution commented on #656
@LAlexMHllc @bluenevus Can you please send a detailed document explaining what you want like the one you sent for poll.

[2022-09-20 12:42] #401 closed

[2022-09-20 14:19] LAlexMHllc opened #937 "Poll map: When Poll Taker clicks an export button on Export Format modal, a file should download in the selected format"
Screenshot Example

![poll_user_screen_clicking_Export_buttonn_should_download_that_file_in_format_selected](https://user-images.githubusercontent.com/11938477/191282767-5166fdcb-8840-4910-bc99-40b3a35179a6.png)

[2022-09-20 14:32] LAlexMHllc opened #938 "Poll map: Poll Collaborator should not be able to Edit Poll after a Poll Taker submits a poll"
Screenshot Example

![poll_preview_should_not_have_EDIT_button_after_poll_taker_submits_poll](https://user-images.githubusercontent.com/11938477/191291638-da44e697-7f19-4494-95a3-4bb3b522e949.png)

[2022-09-20 14:48] LAlexMHllc opened #939 "Poll Results: Should not include result "null" for answer option(s) not selected; when no expiration date, just put "None""
Screenshot Example

![poll_results_should_not_include_null_for_nonselected_answer_options__use_None_for_no_expiration](https://user-images.githubusercontent.com/11938477/191290203-4c868bbe-8dc3-4f03-a1d9-9413e0b08d35.png)

[2022-09-20 15:42] LAlexMHllc commented on #731
Size Huge for Bulleted List and Numbered List - DONE

Size Small for Numbered List - Still needs to be fixed
Screenshot Example

![notepad_numbered_list_size_Small_fix](https://user-images.githubusercontent.com/11938477/191303415-a8ccbdd3-dfd6-4b75-b323-e92813be8f85.png)

[2022-09-20 15:50] LAlexMHllc commented on #717
Closing, fixed

[2022-09-20 15:50] #717 closed

[2022-09-20 16:19] LAlexMHllc commented on #923
MONTH VIEW
- When 2 events are on the same day: Both events are listed on that day, without # more link
- When 3+ events are on the same day: Only two events are listed on that day, with (total - 2) more link

Screenshot Example of what is expected

![calendar_Month_view_with_2_or_more_events_same_day](https://user-images.githubusercontent.com/11938477/191311504-dab66158-4ee0-4d3a-9b3b-40d1b04ca42

[2022-09-20 16:26] LAlexMHllc commented on #901
Closing, fixed

[2022-09-20 16:26] #901 closed

[2022-09-20 16:32] LAlexMHllc commented on #923
Closing, since updates just loaded and issue was fixed

[2022-09-20 16:32] #923 closed

[2022-09-20 16:40] bluenevus opened #940 "calendar tool tip at the bottom of the screen is not visible"
![image](https://user-images.githubusercontent.com/3675043/191315709-9fc19788-9a26-4c9b-8f24-5ded660323af.png)

[2022-09-20 17:19] bluenevus opened #941 "as a user, I would like to change the color of the highlight on the calendar"
![image](https://user-images.githubusercontent.com/3675043/191322974-d2490540-7592-4469-81d4-226ce948765d.png)

right now its defaulted to green but would like to change the color on edit

![image](https://user-images.githubusercontent.com/3675043/191323131-14e96198-fbfb-41db-bc23-e01e0c25cc5c.png)

![image](https://user-images.githubusercontent.com/3675043/191323183-c7ad5b52-a541-402b-9a7b-df3909

[2022-09-20 17:20] LAlexMHllc opened #942 "Poll map: Poll Collaborators screen should include "Editing by:" and "Last Edited By" text"
Screenshot Example

![poll_collaborators_screen_should_include_Editing-By_and_Last-Edited-By_text](https://user-images.githubusercontent.com/11938477/191323393-10e850e8-f48d-4e32-a782-f152db5ad24b.png)

[2022-09-20 17:34] LAlexMHllc commented on #817
TreeChart and FlowMap should not update Editing By and Last Edited By text when node Title was not updated (like TreeMap)

Screenshot of TreeMap (CORRECT)

![treemap_does_not_udpate_edited_when_node_Title_not_updated](https://user-images.githubusercontent.com/11938477/191325032-ddf1a665-e486-4ba4-9fac-436988aeb403.png)

Screenshot of TreeChart (INCORRECT)

![treechart_should_not_udpate_edited_when

[2022-09-20 17:53] LAlexMHllc commented on #884
Closing, since Poll Results displays

[2022-09-20 17:53] #884 closed

[2022-09-20 18:01] LAlexMHllc commented on #911
Can only select one radio button per question  - DONE

Can still select more than Allowable selectable answers - Still needs to be fixed
Screenshot Example

![poll_preview_maximum_allowable_selected_options_2](https://user-images.githubusercontent.com/11938477/191330950-3c7fffb6-8b33-461a-861d-91aa26cc75aa.png)

[2022-09-21 15:32] bluenevus opened #943 "to do list shouldn't have an iframe, instead I should be able to scroll the page so I can use the surface area"
![image](https://user-images.githubusercontent.com/3675043/191547288-e2f956b2-e65d-404c-a3e8-b1872bea272a.png)

[2022-09-21 15:55] bluenevus opened #944 "as a user, I would like to be able to add task tabs and give those tabs a title"
![image](https://user-images.githubusercontent.com/3675043/191551720-fa4fc8b6-5e56-4050-a87a-1ac6043589c2.png)

[2022-09-21 15:55] bluenevus opened #945 "on the to do list if I navigate away from one item to the next, I shouldn't have to click save...that should be automatic"
![image](https://user-images.githubusercontent.com/3675043/191552755-85b6a94d-ffb0-4af6-bd27-f65cbea88353.png)

[2022-09-21 15:56] bluenevus commented on #945
it will not let me pass until I click the green save button.  Hitting carriage return does nothing when it should just save when I go to the next task or click save or hit the carriage return

[2022-09-21 17:36] bluenevus commented on #586
The drag and drop only works to drop it as a sub item to a parent item.  I can't drag parent items around and I can rearrange sub items.

[2022-09-21 18:55] LAlexMHllc commented on #746
When user Saves the map after inserting/deleting, then shares the link, the other user will see the default column/rows.
When the user that removed the rows/columns reloads the browser, the spreadsheet displays with default column rows, even when not collaborating in real time.

[2022-09-22 21:55] bluenevus opened #951 "in kanban for an oversized list, the horizontal scroll doesn't show up at the bottom"
![image](https://user-images.githubusercontent.com/3675043/191858445-0883e60b-d0b9-4cd3-92d9-15266577eb80.png)

no way to get to the additonal stages

[2022-09-22 22:07] bluenevus opened #952 "anywhere there is a text box, I'm unable to click my mouse to a position, I have to use the keyboard to navigate"
every text box with text a user is able to click to a position in the text box, in front of a letter, after a letter after a word, before a word.  However that isn't possible. you have to use your keyboard

also, in these text boxes you can't highlight anything  with the mouse.  double click doesn't work I can pull the cursor over a word to highligh and its in just about every textbox in every typ

[2022-09-22 23:18] bluenevus opened #953 "color picker in kanban not working. clicking the icon does nothing"
![image](https://user-images.githubusercontent.com/3675043/191867498-cdc1bfc8-9c56-4e12-b62c-fee138b003a5.png)

[2022-09-23 14:22] LAlexMHllc commented on #817
Closing, fixed

[2022-09-23 14:22] #817 closed

[2022-09-23 14:26] #943 closed

[2022-09-23 14:28] LAlexMHllc commented on #945
Closing, fixed

[2022-09-23 14:28] #945 closed

[2022-09-23 16:19] LAlexMHllc commented on #816
Poll map is missing Editing by and Last Edited by text

"Edited by" and "Last Edited By" still does not display when real time collaboration map is opened on Kanban and ToDo.

On other maps where Edited text displays when shared map is opened:
"Last Edited By" user - DONE
"Editing by: users - Still needs to be fixed
Screenshot Example of what is expected

![open_real_time_collab_ma;p_editing_by_an

[2022-09-23 17:09] LAlexMHllc commented on #937
Closing, since the file downloads in selected form

[2022-09-23 17:09] #937 closed

[2022-09-23 17:14] LAlexMHllc opened #956 "Poll map - New Poll and Poll Vote screens: Download file should include Title and user answers"
Can not tell which radio is checked for answer
Even though there is a difference between checked answers and unchecked answers when more than one allowable option is selected, it's hard to see.

Screenshot Example

![poll_map_dowloaded_file](https://user-images.githubusercontent.com/11938477/192017466-4a725501-a34e-4665-9afa-3146819f957d.png)

[2022-09-23 17:23] LAlexMHllc commented on #939
Poll text has "None" when there is no Expiration Date - DONE

The Answer Options that were not checked still need to be part of the Poll Results
Screenshot Example
So for this Poll Results: the first Question should have 1 for Yes and 0 for No; the second Question should also include 0 for each color that was not checked.

![poll_map_all_answer_options_should_be_included_in_Poll_Results](https://u

[2022-09-23 17:32] LAlexMHllc commented on #885
Reopening, since the "EDIT" button no longer displays after "LAUNCH POLL" is clicked and BEFORE poll taker "SUBMIT" poll.

[2022-09-23 17:35] LAlexMHllc commented on #938
Seems like this issue was fixed, but needs to be tested again after Issue #885 is fixed.

[2022-09-23 19:23] LAlexMHllc opened #957 "Calendar map: Event Forms should require Title with both Times selected OR All Day checked"
Since event does not successfully submit without Title AND ((Start Time and End Time filled in) OR (All Day checked)), the "Add" and "More Options" buttons should be disabled without them.

Screenshot Example of buttons enabled without Times selected or All Day checked

![calendar_event_form_buttons_should_remain_disabled_without_Title_and_either_both_Times_or_All_Day](https://user-images.githubus

[2022-09-23 19:26] LAlexMHllc opened #958 "Calendar map: Since "Description" is not required, clicking enabled "More options" button should display the Add Recurrence modal"
Screenshot Example

![calendar_Event_Form_Add_Occurrence_should_display_without_Description_filled_when_More_Options_clicked](https://user-images.githubusercontent.com/11938477/192042577-a5592216-bf09-46ac-b9a4-25754d7b9222.png)

[2022-09-23 19:26] LAlexMHllc commented on #958
See related Issue #957

[2022-09-26 06:39] b-solution commented on #941
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5988861/192209437-c225d3e0-c396-4bf4-ba77-350e311c5481.png">
@LAlexMHllc Can you please test this.

[2022-09-26 07:06] b-solution commented on #953
@bluenevus Can you please test it again and let me know if it's not working.

[2022-09-26 07:13] b-solution commented on #958
@LAlexMHllc I've fixed this already can you please test it again and let me know if it's not working.

[2022-09-26 11:09] #938 closed

[2022-09-26 11:39] b-solution commented on #623
@bluenevus @LAlexMHllc Can you please test it again and let me know if it's not working.

[2022-09-26 13:39] b-solution commented on #951
@LAlexMHllc

[2022-09-26 13:43] b-solution commented on #951
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5988861/192292163-928dfbe5-2c71-419e-af78-8beaa8f68e9d.png">

[2022-09-26 14:43] LAlexMHllc commented on #951
Closing, fixed

[2022-09-26 14:43] #951 closed

[2022-09-26 14:47] #953 closed

[2022-09-26 14:51] LAlexMHllc commented on #958
Closing, fixed

[2022-09-26 14:51] #958 closed

[2022-09-26 15:01] LAlexMHllc opened #962 "Calendar: Editing event should not revert to default color bar"

[2022-09-26 16:31] LAlexMHllc opened #963 "Kanban map: Include ability to change the background color of Task(s)"
When Color Picker link is clicked on a stage Task, the Color Picker should display with the same options as stage.

Screenshot Example

![kanban_color_picker_for_Stage_Tasks](https://user-images.githubusercontent.com/11938477/192331105-c26065f1-37bc-48df-9f96-d9041ba76287.png)

[2022-09-26 16:33] LAlexMHllc commented on #963
NOTE: Make sure existing Kanban maps are updated to include Task background color (white).

[2022-09-26 16:59] LAlexMHllc opened #964 "The Save Document Key modal should consistently display with the correct saved number of days."
Screenshot Example of 60 days selected, then map was Saved

![save_document_key_modal_should_consistently_display_saved_number_of_days](https://user-images.githubusercontent.com/11938477/192336790-b2290b93-b6f8-48f2-8dc3-2ad4c6823ef4.png)

Sometimes the modal displays with a different number of days selected than what was previously saved.
Screenshot Example with modal opening without the correct

[2022-09-26 17:08] LAlexMHllc commented on #941
Closing, fixed

[2022-09-26 17:08] #941 closed

[2022-09-26 17:57] LAlexMHllc commented on #623
Closing, fixed

[2022-09-26 17:59] LAlexMHllc opened #965 "Calendar map: Save Recurrence of multi-day event should save as multi-day event instead of single-day event"
Screenshot Example

![calendar_click_edit_multi-day_event](https://user-images.githubusercontent.com/11938477/192346932-98e00f15-abec-42d4-b9c7-1d07ba37f301.png)

![calendar_click_edit_multi-day_event_clicked_More_options](https://user-images.githubusercontent.com/11938477/192346963-58c4d44f-99e2-4019-bde9-008d980789b7.png)

![calendar_click_edit_multi-day_event_clicked_More_options_1_Month_Contin

[2022-09-27 06:21] #529 closed

[2022-09-27 14:07] LAlexMHllc commented on #731
After further testing, the issue occurs sometimes when scaling from one Font Size to another.
Screenshot Example when scaling does not display correctly

![notepad_numbered_and_bulleted_list_change_Size_sometimes_does_not_scale_correctly](https://user-images.githubusercontent.com/11938477/192549001-8c7af432-d031-4a58-b309-0488e961c3ca.png)

Screenshot Example when scaling does display correctly

!

[2022-09-27 17:52] andrewtran249 opened #966 "[MindMap] Hide and Reveal Child Node Glitch"
The hide and reveal function in MindMap is inconsistent. It will more often require multiple clicks to both hide and reveal child nodes.

https://user-images.githubusercontent.com/106859528/192600527-fbd69d59-0c9b-4519-acdc-65ba1c4cb7b2.mp4

[2022-09-28 18:43] LAlexMHllc opened #970 "Kanban map: Background color of Stages should persist after drag 'n drop"
Screenshot Example of drag 'n drop STAGE 2

![kanban_drag_n_drop_stage_should_keep_background_color_on_shared_screen](https://user-images.githubusercontent.com/11938477/192863177-2aba2dbc-d6dd-4f44-943e-23e0875abba4.png)

_______________________________________________________________

Screenshot Example after drag 'n drop STAGE 2 again

![kanban_drag_n_drop_stage_should_keep_background_color_on_s

[2022-09-28 19:30] LAlexMHllc opened #971 "WhiteBoard: Clicking "Continue" to confirm "Reset" should reset map(s)"
Screenshot Example click "Continue" to confirm Reset Map

![whiteboard_click_Continue_to_confirm_Reset](https://user-images.githubusercontent.com/11938477/192871711-11fab3f6-0d0a-406e-90b5-2c2173d78540.png)

Screenshot Example of map not reset

![whiteboard_click_Continue_to_confirm_Reset_2](https://user-images.githubusercontent.com/11938477/192871987-81786cda-3538-4962-a949-0b17c6b66a96.png)

[2022-09-29 14:50] LAlexMHllc opened #974 "Notepad map: Clicking "Continue" to confirm "Reset" should reset map(s)"
Screenshot Example

![notepad_click_Continue_to_confirm_Reset](https://user-images.githubusercontent.com/11938477/193064520-26e46458-a4f6-4ebc-becf-6a5e65f4e66f.png)

![notepad_click_Continue_to_confirm_Reset_2](https://user-images.githubusercontent.com/11938477/193064531-d502ed26-668f-4380-a561-f5d79fcefdb3.png)

[2022-09-29 16:40] LAlexMHllc opened #977 "Calendar map: Fix Previous/Next navigation with corresponding view of the Calendar, and selected view (Month/Week/Day)"
Clicking a navigation link should consistently display the correct Month, calendar view selected, and corresponding view of the Calendar

Screenshot Example of default Calendar view after map created

![calendar_with_CORRECT_Month_Name_with_corresponding_Month_Calendar_view](https://user-images.githubusercontent.com/11938477/193084829-c042d337-3c70-4044-9249-f08bc3a77cf7.png)

____________________

[2022-09-29 16:47] LAlexMHllc commented on #977
Screenshot Example of clicking Next link while in Week view

![calendar_click_next_link_in_week_view](https://user-images.githubusercontent.com/11938477/193090775-65ee1bce-15cd-4094-b9a9-3a287f33f28f.png)

![calendar_click_next_link_in_week_view_2](https://user-images.githubusercontent.com/11938477/193090788-89231cf6-c197-4293-87ac-04cb5598c464.png)

[2022-09-29 17:44] LAlexMHllc commented on #808
After update, Line drawn does not display on collaborator's screen until drawer stops drawing. - DONE
Screenshot Example

![whiteboard_Line_only_displays_for_drawer_until_stop_drawing](https://user-images.githubusercontent.com/11938477/193104422-dd5bb50f-0b83-490c-bc0e-b661c6734d55.png)

![whiteboard_Line_only_displays_for_drawer_until_stop_drawing_2](https://user-images.githubusercontent.com/1193

[2022-09-29 17:48] LAlexMHllc commented on #808
When more than one collaborator draws a Line, the board still does not function correctly - STILL NEEDS TO BE FIXED
Screenshot Example

![whiteboard_Line_still_does_not_function_after_more_than_one_user_draws_Line](https://user-images.githubusercontent.com/11938477/193105313-589aec96-bc2a-4a6c-bd40-8fa68273e019.png)

[2022-09-29 18:53] LAlexMHllc opened #978 "Notepad map: Possible to fix display of formula for download file?"
Screenshot Example

![notepad_formula_display_in_download](https://user-images.githubusercontent.com/11938477/193118542-f9b13a29-f258-4202-8090-392a7390a7e3.png)

[2022-09-30 06:41] b-solution commented on #974
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-09-30 09:26] #971 closed

[2022-09-30 09:26] #974 closed

[2022-09-30 22:27] bluenevus opened #1008 "poll url should be able to be copied and pasted"
right now there is a box where the user can't copy and paste the entire url

![image](https://user-images.githubusercontent.com/3675043/193364710-65712c20-50b1-4193-a201-065e9566af1e.png)

[2022-10-01 01:44] bluenevus opened #1009 "integrate msuite into microsoft teams"
![image](https://user-images.githubusercontent.com/3675043/193378267-ce4b5212-46e6-4b69-b40c-f19afa88e194.png)

[2022-10-01 01:45] bluenevus opened #1010 "integrate msuite into zoom"
![image](https://user-images.githubusercontent.com/3675043/193378293-8482941e-196a-46dd-9bc4-bd06ec2519f0.png)

[2022-10-01 01:45] bluenevus opened #1011 "integrate msuite into webex"
![image](https://user-images.githubusercontent.com/3675043/193378312-5ed449c2-0631-4c9d-808a-fd4b54a8c39b.png)

[2022-10-01 01:48] bluenevus opened #1012 "integrate msuite into slack"
![image](https://user-images.githubusercontent.com/3675043/193378329-369b8caa-aa45-42ee-8d54-aab17e1902fa.png)

[2022-10-01 01:54] bluenevus opened #1013 "as a user, I would like to toggle the to do list view to a calendar view"
as a user, I would like to toggle the to do list view to a calendar view to visualize my to do in a calendar and perform add/edit that goes back to the to do list so the fields have to be identical

![image](https://user-images.githubusercontent.com/3675043/193378522-55514076-cf72-418c-89c4-3aff310c9a8b.png)

[2022-10-03 18:38] LAlexMHllc opened #1014 "Calendar map: Should remove button from Color Picker, since color scheme is not a feature"
Screenshot Example

![calendar_should_remove_extra_button_from_ColorPicker_since_color_scheme_not_used](https://user-images.githubusercontent.com/11938477/193653291-6de02a8c-a669-4a33-a2c2-b997062d5d3f.png)

[2022-10-04 16:07] LAlexMHllc opened #1017 "Poll map: Users should be able to collaborate in real time"
Example Screenshot with same URL, but the form is not in sync at all.

![poll_map_should_be_able_to_collaborate_in_real_time](https://user-images.githubusercontent.com/11938477/193868645-f42a91a4-cff5-4e28-bfeb-d02d1a0b6325.png)
**NOTE:** Even the generated poll taker URL is different.

[2022-10-04 16:20] LAlexMHllc opened #1018 "Poll map: Saved Poll Form info should persist after clicking browser Refresh/Reload"
Screenshot Example of Poll Form filled in

![poll_collaborator_filled_out_form](https://user-images.githubusercontent.com/11938477/193871997-e08dd213-970e-45d8-b951-c141039faeb7.png)

Screenshot Example of Save Private

![poll_collaborator_filled_out_form_Save_Private](https://user-images.githubusercontent.com/11938477/193872091-cb3e3d39-75eb-4093-9f9f-23033ec8256d.png)

Screenshot Example of clic

[2022-10-04 19:16] LAlexMHllc opened #1019 "Poll map: Form input should persist after saving the map for the first time, instead of resetting the map."
Screenshot Example

![poll_map_click_Save_for_the_first_time_with_form_filled_in](https://user-images.githubusercontent.com/11938477/193905537-6aee3482-a15c-43d2-a598-52f56ecbaf9e.png)

![poll_map_filled_in_clicked_Save-Private_save_password](https://user-images.githubusercontent.com/11938477/193905571-ac919e2f-6a82-4f7e-8b56-e3fc5c7c23a6.png)

![poll_map_filled_in_clicked_Save-Private_save_passwo

[2022-10-06 06:28] b-solution commented on #966
@LAlexMHllc I've fixed this issue. Can you please test it again and let me know if it's not working.

[2022-10-06 06:36] b-solution commented on #1008
@LAlexMHllc Can you please test it again.

[2022-10-06 08:27] b-solution commented on #1014
@LAlexMHllc I've fixed this issue, Can you please test it again and let me know if it's working.

[2022-10-06 08:27] b-solution commented on #962
@LAlexMHllc I've fixed this issue, Can you please test it again and let me know if it's working.

[2022-10-06 08:27] b-solution commented on #965
@LAlexMHllc I've fixed this issue, Can you please test it again and let me know if it's working.

[2022-10-06 08:28] b-solution commented on #940
@LAlexMHllc I've fixed this issue, Can you please test it again and let me know if it's working.

[2022-10-06 15:43] #966 closed

[2022-10-06 15:49] LAlexMHllc commented on #1014
Closing, fixed

[2022-10-06 15:49] #1014 closed

[2022-10-06 15:54] LAlexMHllc commented on #965
Closing, fixed

[2022-10-06 15:54] #965 closed

[2022-10-06 16:07] LAlexMHllc commented on #977
Closing, fixed

[2022-10-06 16:07] #977 closed

[2022-10-07 07:26] b-solution commented on #978
@LAlexMHllc It is not possible because data is encoded in binary in every editor therefore every editor read it according to its base.

[2022-10-10 07:42] b-solution commented on #957
@LAlexMHllc I've fixed this issue, can you please test it again and let me know.

[2022-10-10 11:01] b-solution commented on #594
@bluenevus I've fixed this issue, can you please test it again and let me know and it's not working for you.

[2022-10-11 13:10] b-solution commented on #1013
@bluenevus hi there. Hope so you are doing well. I am confused in some things. See steps below

- 1st of all if one of the user creates a todo and don’t add date. If he wishes to toggle to calendar on which date should i display that todo

![image](https://user-images.githubusercontent.com/5988861/195099615-7cc54273-674a-4959-9b22-d750ca9b9b32.png)

- Secondly I want to ask you if you want event r

[2022-10-11 13:14] b-solution commented on #1013
@bluenevus hi there. Hope so you are doing well. I am confused in some things. See steps below

- 1st of all if one of the user creates a todo and don’t add date. If he wishes to toggle to calendar on which date should i display that todo

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5988861/195100416-212f8c48-368c-4ecc-894d-62431f50e6e9.png">

- Secondly I want to

[2022-10-11 13:24] b-solution commented on #964
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working for you.

[2022-10-11 13:41] LAlexMHllc commented on #957
Closing, fixed

[2022-10-11 13:41] #957 closed

[2022-10-11 14:17] LAlexMHllc opened #1032 "User input for number of days before map deleted should not revert to preselected when changed by direct input instead of using the range."
Screenshot Example

![save_key_modal_reverts_number_of_days_when_direct_input_instead_of_using_range](https://user-images.githubusercontent.com/11938477/195116149-d90cb506-1821-4515-b90e-c18921b38760.png)

[2022-10-11 14:17] LAlexMHllc commented on #594
@b-solution This still does not function correctly at all.
NOTE: Also see related Issue #1032

[2022-10-11 14:27] LAlexMHllc commented on #964
@b-solution This still does not function correctly.
NOTE: See related Issue #594 and Issue #1032

[2022-10-11 14:53] LAlexMHllc opened #1034 "Save Document Key modal - Days before deletion range selector should use 1 for minimum and MAX_EXP_DAYS for maximum (when set)"
Number of days range selector should not go below 1 nor exceed maximum number of days allowed before file deleted set in settings.yml (MAX_EXP_DAYS)

Screenshot Example

![save_key_modal_minimum_and_maximum_days_range_selector](https://user-images.githubusercontent.com/11938477/195125183-9ec9174a-177e-4103-9b55-f2262fbbcf7a.png)

[2022-10-11 14:53] LAlexMHllc commented on #1034
NOTE: See related Issue #1032

[2022-10-11 15:02] bluenevus commented on #1013
if there are no dates, then we should grey out the button.  if there are dates, only the dates they have should show and the button should be active.

I think notifications would be a good idea

[2022-10-11 16:10] LAlexMHllc opened #1037 "Save Document Key modal: When number of days exceeds MAX_EXP_DAYS, it should automatically be set to equal it"
Since the user actually wanted more days, when input exceeds the maximum, it should automatically update to the MAX_EXP_DAYS value after the Alert displays.
Screenshot Example

![save_key_modal_automatically_should_set_to_MAX_EXP_DAYS_when_selected_exceeds](https://user-images.githubusercontent.com/11938477/195144324-7d8b4b2d-f6d1-405a-82c1-4ae066cc6cb1.png)

[2022-10-11 16:25] LAlexMHllc commented on #1037
See related Issue #1034

[2022-10-11 16:39] LAlexMHllc commented on #800
Closing, seems fixed

[2022-10-11 16:39] #800 closed

[2022-10-11 17:52] LAlexMHllc commented on #808
Closing, seems fixed

[2022-10-11 17:52] #808 closed

[2022-10-11 19:06] LAlexMHllc opened #1044 "Mindmap: Fix line drawing issue when creating child node; should display where hand is."
NOTE: Same as closed Issue #436

[2022-10-11 19:11] LAlexMHllc commented on #963
Closing, fixed

[2022-10-11 19:11] #963 closed

[2022-10-11 19:32] LAlexMHllc opened #1046 "Kanban map: Should be in sync for real time collaboration"
Screenshot Example after Drag 'N Drop

![kanban_drag_n_drop_stage_should_be_in_sync_collaborator_real_time](https://user-images.githubusercontent.com/11938477/195181962-0f27b3b1-0c1e-4461-b84e-767a26fa8aae.png)

_______________________________________________________________________________________________________________________________

Screenshot Example after Update Stage Background Color

![k

[2022-10-11 19:45] LAlexMHllc opened #1047 "User should have to submit correct PW to access file Saved Private"

[2022-10-11 20:55] bluenevus opened #1048 "warnings on precompile"
![image](https://user-images.githubusercontent.com/3675043/195196416-5a0d8610-4497-43bd-9603-5dc56ecc00c7.png)

[2022-10-11 21:10] LAlexMHllc opened #1049 "DEV and QA: TreeMap, TreeChart, and FlowMap: Clicking "Add Child Node" should automatically display the new child node"
Clicking "Add Child Node" should consistently function as expected.

No child nodes displayed after clicking "Add Child Node" link several times.
Screenshot Example

![treemap_sometimes_child_node_does_automatically_display_when_clicked](https://user-images.githubusercontent.com/11938477/195198754-f6e400a8-1dd2-4050-8b4a-9b4f3a112346.png)

Then after a random number of clicks, all the Child Nodes

[2022-10-11 21:23] LAlexMHllc opened #1050 "DEV and QA: TreeMap, TreeChart, and FlowMap: Clicking "Delete" link should consistently delete the corresponding Child Node"
Screenshot Example

![treemap_sometimes_child_node_does_automatically_delete_when_link_clicked](https://user-images.githubusercontent.com/11938477/195201052-e8b735ff-c64a-4113-ac16-f4556690e0a7.png)

[2022-10-11 21:26] bluenevus opened #1051 "when duplicating todo or calendar, the user should be able to choose the month and year to copy into with the same days applied"
currently, when I copy a todo with dates or a calendar, it copies the same dates.  However, when duplicating, I want to be able to apply it to a new time period.  That is, I want to be able to select the month and year it should apply then apply the same days of the calendar or todo dates to the selected month and year.

![image](https://user-images.githubusercontent.com/3675043/195201314-6216026c

[2022-10-11 21:31] LAlexMHllc commented on #1050
Closing, since fine on prod

[2022-10-11 21:31] LAlexMHllc commented on #1049
Closing, since fine on prod

[2022-10-11 21:52] zachegnermh commented on #1012
Slack App Directory Guidelines
https://api.slack.com/start/distributing/guidelines

[2022-10-11 21:58] zachegnermh commented on #1011
Guidelines For Webex integration
https://developer.webex.com/docs/embedded-apps-design-guidelines-for-spaces

[2022-10-11 22:02] zachegnermh commented on #1010
Integration with Zoom Requirements
https://marketplace.zoom.us/docs/guides/publishing/app-submission/

[2022-10-11 22:04] zachegnermh commented on #1009
Microsoft Teams App Integration Guidelines
https://learn.microsoft.com/en-us/microsoftteams/platform/concepts/deploy-and-publish/appsource/prepare/teams-store-validation-guidelines

[2022-10-11 22:08] LAlexMHllc opened #1052 "QA and DEV: TreeMap - New Child Node should consistently be added to the map within its Parent"
Clicked "Add Child Node" and the new node displayed next to the main Parent node, without action links.
Screenshot Example on QA

![treemap_clicked_add_child_node_of_child__node_displayed_next_main_parent_without_button_links](https://user-images.githubusercontent.com/11938477/195207253-54c1b5da-f8a8-4c54-8c22-e8803503ae06.png)

Screenshot Example on DEV

![treemap_clicked_add_child_node_of_child_

[2022-10-12 08:53] b-solution commented on #1047
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-10-12 13:59] LAlexMHllc commented on #1047
Closing, fixed

[2022-10-12 13:59] #1047 closed

[2022-10-12 15:59] LAlexMHllc opened #1056 "Poll map - Poll Vote screen: Missing Title content; should validate checked against allowable options; and remove "Duplicate" button."
Screenshot Example of Poll Form, click LAUCH POLL

![poll_launch_poll_clicked](https://user-images.githubusercontent.com/11938477/195391081-2e4b842e-4c2d-4b10-a9c0-230b453341f2.png)

Screenshot Example of Poll Vote screen

![poll_taker_exceeds_allowable_checked_options_missing_Title_content](https://user-images.githubusercontent.com/11938477/195391192-2c7fc6ee-7bb6-40dc-bb48-b8bbc74a0789.png)

Scr

[2022-10-12 16:47] LAlexMHllc opened #1057 "Duplicate Poll should not include Poll Results; should update with unique Poll URL; should be editable until LAUNCH POLL and poll vote exists."
Screenshot Example

![poll_duplicate_should_only_duplicate_poll_form_not_poll_results](https://user-images.githubusercontent.com/11938477/195399819-47598fe5-2fb7-444e-b84f-197b33f99be3.png)

Screenshot Example

![duplicate_poll_should_update_with_unique_Poll_URL](https://user-images.githubusercontent.com/11938477/195401382-18e3499a-a265-45a5-bbc9-d55c539f8133.png)

[2022-10-12 19:14] LAlexMHllc commented on #1032
Closing, fixed

[2022-10-12 19:14] #1032 closed

[2022-10-12 19:16] LAlexMHllc commented on #1034
Closing, fixed

[2022-10-12 19:16] #1034 closed

[2022-10-12 19:35] LAlexMHllc opened #1062 "Tooltip Date for Save button is off by one day earlier"
Screenshot Example of default Tooltip for Save button (should be 5 days past today)

![Save_tooltip_date_one_day_early](https://user-images.githubusercontent.com/11938477/195432117-74747628-78a3-42b7-bef9-294b27d98530.png)

Screenshot Example after Save file with updated number of days

![Save_tooltip_date_one_day_early_2](https://user-images.githubusercontent.com/11938477/195431364-b368702d-bc14-

[2022-10-12 20:00] LAlexMHllc opened #1063 "Clicking "Duplicate" on Kanban should create duplicate map"
Duplicate Kanban displayed with Stages in different order.
Screenshot Example

![kanban_duplicate_file_should_display_stages_in_same_order](https://user-images.githubusercontent.com/11938477/195436533-596355fd-d6bf-43f3-9dfe-c55ab9b68411.png)

[2022-10-12 20:51] zachegnermh commented on #1062
fixed Issue https://github.com/MicroHealthLLC/mSuite/pull/1058

[2022-10-13 14:35] LAlexMHllc opened #1067 "Clicking "Duplicate" button should consistently duplicate the map"
Sometimes clicking the button does not create another map

[2022-10-13 14:45] LAlexMHllc opened #1069 "Duplicate Notepad map should contain same text/style as original; instead container is blank."
Screenshot Example

![duplicate_notepad_did_not_contain_text](https://user-images.githubusercontent.com/11938477/195628866-7969a9ba-ac79-409f-bbb9-ab23f66bc7a9.png)

[2022-10-13 15:30] LAlexMHllc opened #1072 "Duplicate FlowMap should match the original map"
Screenshot Example

![flowmap_duplicate_created_extra_nodes](https://user-images.githubusercontent.com/11938477/195640108-4ac6d8d3-2847-4a51-a73e-7e1c707cb5c4.png)

[2022-10-13 16:14] LAlexMHllc opened #1073 "Save Document Key number of days and "Save" button tooltip should be in sync for real time collaboration"
When a user updates the number of days till file deleted, it should update in real time on other user screen(s).
Screenshot Example

![shared_map_save_tooltip_updating](https://user-images.githubusercontent.com/11938477/195650034-1f04c57c-532d-460a-ad23-5a5bfe76d3ed.png)

![save_key_number_of_days_and_Save_button_tooltips_should_be_in_sync](https://user-images.githubusercontent.com/11938477/195650

[2022-10-13 16:47] LAlexMHllc opened #1074 "Number of days selected should consistently be included when Saving Map (Public or Private) or Change Password"
Sometimes when switching between Private and Public, or Change Password, the number of days is not included in the update.
Screenshot Example

![save_key_modal_consistently_update_number_of_days_even_when_switching_save_mode_or_change_pwd](https://user-images.githubusercontent.com/11938477/195656624-5bf0817f-311d-4ed7-ab17-f6df086480f7.png)

[2022-10-13 19:56] LAlexMHllc commented on #586
Reorder Parent - DONE

[2022-10-13 20:05] LAlexMHllc opened #1078 "ToDo map: Should be in sync when reordering list for real time collaboration"
Screenshot Example

![todo_maps_should_be_in_sync_after_reorder_for_real_time_collab](https://user-images.githubusercontent.com/11938477/195698456-76b8e553-6aae-4130-b79f-54ee627ce2b9.png)

[2022-10-13 20:12] LAlexMHllc commented on #1019
Closing, fixed

[2022-10-13 20:12] #1019 closed

[2022-10-13 20:15] #942 closed

[2022-10-13 20:16] LAlexMHllc commented on #1018
Closing, fixed

[2022-10-13 20:16] #1018 closed

[2022-10-13 20:34] LAlexMHllc commented on #1017
Better, but still needs to be fixed.
Should be in sync for real time collaboration when: a Question container is added to the form; a Question container is removed from the form, etc.

Screenshot Example

![poll_map_form_should_be_in_sync_real_time_collaboration](https://user-images.githubusercontent.com/11938477/195705024-e8861bc6-94be-4c9d-b64a-b8bc3fe9ae65.png)

[2022-10-13 21:04] LAlexMHllc commented on #885
Still needs to be fixed.
Screenshot Example

![poll_map_EDIT_should_display_until_Poll_Vote_exists](https://user-images.githubusercontent.com/11938477/195710271-5f87fa65-18b6-4baf-8c75-46c7ac6caa32.png)

[2022-10-14 14:24] b-solution commented on #1063
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-10-14 16:04] LAlexMHllc opened #1085 "All Maps: Editing by and Last Edited text should be in sync for real time collaboration; also should not display for default map(s)."
Screenshot Example on QA - Poll map

![QA_Poll_map_should_not_have_editing_for_default_maps_creator_and_shared](https://user-images.githubusercontent.com/11938477/195891199-0d3ea864-045d-4262-9a4b-16b96dee65e8.png)

___________________________________________________________________________________________

Screenshot Example on DEV - Poll map

![DEV_Poll_Map_shared_map_should_not_have_Editing_tex

[2022-10-14 16:14] LAlexMHllc commented on #1017
Closing, seems fixed

[2022-10-14 16:14] #1017 closed

[2022-10-14 16:24] LAlexMHllc commented on #1056
Closing, fixed

[2022-10-14 16:24] #1056 closed

[2022-10-14 16:48] LAlexMHllc commented on #911
Closing, fixed

[2022-10-14 16:48] #911 closed

[2022-10-14 16:56] LAlexMHllc opened #1086 "QA - Poll Map should have random URL instead of "Central-Idea"; creates Status Code 302 error when map exists."
Screenshot Example of URL with "Central-Idea"

![poll_map_should_have_random_URL_instead_of_Central-Idea](https://user-images.githubusercontent.com/11938477/195901022-50b98b15-4abf-4588-b99c-b1149ced082d.png)

Screenshot Example when another user tries to Create Poll Map when a poll map exists

![index_click_poll_map_status_code_302_error_displays](https://user-images.githubusercontent.com/1193847

[2022-10-14 17:15] LAlexMHllc commented on #1072
Closing, seems fixed

[2022-10-14 17:15] #1072 closed

[2022-10-14 17:19] LAlexMHllc commented on #1069
Closing, fixed

[2022-10-14 17:19] #1069 closed

[2022-10-14 17:28] LAlexMHllc commented on #1050
Fix on QA - DONE
Still needs to be fixed on DEV

[2022-10-14 18:35] LAlexMHllc opened #1091 "Clicking reload/refresh on map in default state should reload the screen, instead of displaying 404 error screen."
When reload/refresh is clicked before user Save Public or Save Private on default map, then the error screen immediately displays.
When reload/refresh is clicked after user Save Public or Save Private on default map, then the screen will reload once. But when the user clicks reload/refresh again and the map is still default, then the error screen will display.

A map in default state should not be

[2022-10-14 18:56] LAlexMHllc opened #1092 "All Maps: PASSWORD modal should not display for map that was not Save Private"
Screenshot Example of map created, reload/refresh clicked before Save map

![index_click_map_box_open_click_reload-refresh_before_Save](https://user-images.githubusercontent.com/11938477/195920555-435bacb0-404f-4bee-8a15-87e59040012f.png)

Screenshot Example of PASSWORD modal that displayed after reload/refresh clicked for map that was not Save Private

![index_click_map_box_open_click_reload-refr

[2022-10-17 06:30] #1086 closed

[2022-10-17 07:48] b-solution commented on #1067
@LAlexMHllc Can you please test it again and let me know if it's not working.

[2022-10-17 07:49] b-solution commented on #1067
@LAlexMHllc Can you please test it again and let me know if it's not working.

[2022-10-17 08:20] b-solution commented on #970
@LAlexMHllc I've fixed this issue, Can you please test it again and let me know if it's not working.

[2022-10-17 10:40] b-solution commented on #1092
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-10-17 10:47] b-solution commented on #952
@bluenevus @LAlexMHllc I've worked on this, can you please test it again and let me know if it's not working.

[2022-10-17 11:52] b-solution commented on #731
@LAlexMHllc It's working good, Can you please check it again and let me know if it's not working for you.
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/5988861/196169874-08822cb6-0511-4b55-bc66-317f24fba81e.png">
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/5988861/196169714-f008ff76-7c94-4a78-b55d-0f58ea8dabbf.png">
<img width="1440"

[2022-10-17 13:48] LAlexMHllc opened #1096 "Beta - Poll Map should have random URL instead of "Central-Idea"; creates Status Code 302 error when map exists."
See Issue #1086 for screenshots

[2022-10-17 13:49] b-solution commented on #746
@LAlexMHllc I've fixes this issue, Can you please test it again and let me know.

[2022-10-17 13:50] b-solution commented on #1096
@LAlexMHllc Can you please test with latest pull because i've fixed this issue.

[2022-10-17 13:58] LAlexMHllc commented on #746
Deleted rows and column, clicked Save. When reload clicked, the columns and rows reverted.

[2022-10-17 14:10] LAlexMHllc commented on #731
When the size selected is not "Normal", then another size is selected, the numbers and bullets do not consistently match the selected text size.
EXAMPLE
When the text is size "Small", then the user selects size "Large"

[2022-10-17 14:32] LAlexMHllc opened #1097 "Mindmap: Newly drawn child node not connected, even after reload/refresh"
Screenshot Example

![mindmap_child_node_not_connected_even_after_reload](https://user-images.githubusercontent.com/11938477/196204763-80f8dbbe-0962-41c0-811b-94746d75df64.png)

[2022-10-17 14:38] LAlexMHllc commented on #746
Closing, fixed

[2022-10-17 14:38] #746 closed

[2022-10-17 14:43] LAlexMHllc commented on #970
Closing, fixed

[2022-10-17 14:43] #970 closed

[2022-10-17 15:03] LAlexMHllc opened #1098 "Clicking reload/refresh on map in default state should reload the screen, instead of displaying Index screen."
When reload/refresh is clicked before user Save Public or Save Private on default map, sometimes the Index screen display.

NOTE: See related Issue #1091

[2022-10-17 15:05] LAlexMHllc commented on #1092
Closing, fixed

[2022-10-17 15:05] #1092 closed

[2022-10-17 16:04] LAlexMHllc opened #1099 "QA and Beta - TreeMap: Clicking "Add Child Node" should only create a single Child Node (with a unique default Title) that corresponds to itself."
After another sibling was added with default duplicate Title, when "Add Child Node" was clicked on one of the duplicates, a child was added to each (both with duplicate Title as well).

Screenshot Example

![treemap_clicked_Add_child_Node_when_one_child_exists](https://user-images.githubusercontent.com/11938477/196224470-9f7f41c3-7593-4703-b1e1-24feda44a551.png)

Screenshot Example of child node a

[2022-10-17 16:34] LAlexMHllc opened #1100 "QA and Beta - TreeMap: Edit node Title should have updated the edited node, not another node."
Screenshot Example of nodes with duplicate default Title

![treemap_child_node_added_with_duplicate_Name](https://user-images.githubusercontent.com/11938477/196232897-cd9471a3-0f94-481d-a72c-52e16b7a8dd9.png)

Screenshot Example of Edit Node Title

![treemap_child_node_added_with_duplicate_Name_edit_duplicate_Name](https://user-images.githubusercontent.com/11938477/196232905-4a393986-9704-40d1-a57

[2022-10-17 17:02] LAlexMHllc commented on #1063
Closing, fixed

[2022-10-17 17:02] #1063 closed

[2022-10-18 06:13] #1096 closed

[2022-10-18 12:25] b-solution commented on #1100
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-10-18 12:26] b-solution commented on #1099
@LAlexMHllc  I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-10-18 12:30] b-solution commented on #922
@bluenevus @LAlexMHllc, We have removed duplicate functionality from Treechart, Treemap, Flowmap and Todo because their behaviour was not as expected while duplicating them. We are working on it after fixing them we will again re publish this functionality.

[2022-10-18 12:52] b-solution commented on #1051
@bluenevus When cloning Todo or Calendar for all the events, You would be prompted to change there month and year at once. I have attached the screenshots.

<img width="1438" alt="Screenshot 2022-10-18 at 5 44 52 PM" src="https://user-images.githubusercontent.com/5988861/196433733-0802c280-49da-46f0-870b-b6dca3802dd2.png">
<img width="1440" alt="Screenshot 2022-10-18 at 5 38 02 PM" src="https://us

[2022-10-18 14:06] LAlexMHllc opened #1103 "Save Document Key modal should not display after "Continue" clicked to confirm Delete map"
Since the document will not get saved even if a Save button is clicked, it should not display after confirm delete map.

Screenshot Example

![save_key_modal_should_not_display_after_Continue_clicked_to_confirm_Delete](https://user-images.githubusercontent.com/11938477/196452696-a1d83dfa-fafe-45a0-b659-360db7dde8e2.png)

[2022-10-18 14:27] LAlexMHllc commented on #1100
Fixed on QA

[2022-10-18 14:57] b-solution commented on #922
I've fixed this issue for all maps, @LAlexMHllc Can you please test it and let me know if it's not working.

[2022-10-18 15:02] LAlexMHllc opened #1105 "DEV TreeChart and FlowMap: New node should consistently be given default Title; node Title should update with user input instead of default Title."
Screenshot Example

![DEV_TreeChart_node_not_automatically_filled_with_default_Title_should_update_user_input_instead_default_Title](https://user-images.githubusercontent.com/11938477/196468242-3910699a-2682-4f5b-8a97-c657fdb2dace.png)

[2022-10-18 15:36] LAlexMHllc commented on #1103
Closing, since it remains open in case user clicks Cancel

[2022-10-18 15:36] #1103 closed

[2022-10-18 15:51] LAlexMHllc commented on #1097
Closing, since this was the only instance

[2022-10-18 15:51] #1097 closed

[2022-10-18 16:12] LAlexMHllc opened #1106 "Rearranging ToDo List should stick"
Refresh/Reload map OR exit map, then return to map - the ToDo List did not display as rearranged and saved.

Screenshot Example before ToDo List was rearranged

![ToDo_save_map_before_rearranging_ToDos](https://user-images.githubusercontent.com/11938477/196484628-285baaa4-5f80-4721-b866-884dee8802fb.png)

Screenshot Example after ToDo List was rearranged; map was Saved

![ToDo_save_map_after_rearr

[2022-10-18 17:44] LAlexMHllc opened #1107 "Mindmap: All top menu button should still display after Save Public clicked"
Screenshot Example before Save Public clicked all buttons display

![mindmap_all_buttons_display_before_Save_Public](https://user-images.githubusercontent.com/11938477/196504882-47c7e3fe-bb5b-47ea-ab83-0246bc07af8a.png)

![mindmap_all_buttons_display_before_Save_Public_2](https://user-images.githubusercontent.com/11938477/196504897-bb54c83c-6107-4121-9811-4ee51ced1c44.png)

Screenshot Example afte

[2022-10-18 17:54] LAlexMHllc opened #1108 "Duplicate Map should include Replies to Comments"
Screenshot Example of Comments with Replies on original map

![map_Comments_with_Replies](https://user-images.githubusercontent.com/11938477/196507501-8a4d6617-6ea1-428f-91a1-b784aa6e3b96.png)

Screenshot Example of Duplicate clicked

![map_Comments_with_Replies_click_Duplicate](https://user-images.githubusercontent.com/11938477/196507527-b9246ca0-fe94-48a9-88d8-f65189c812b5.png)

Screenshot Examp

[2022-10-18 18:26] LAlexMHllc opened #1109 "Mindmap: Description modal for Child Node should display to allow input, like Central Idea node"
Screenshot Example of user not able to include Description for Child Node, since modal displays incorrrectly

![mindmap_click_description_icon_on_child_node](https://user-images.githubusercontent.com/11938477/196513275-02d73630-5901-4169-a106-4486928cb62f.png)

![mindmap_click_description_icon_on_child_node_modal_displays_incorrectly](https://user-images.githubusercontent.com/11938477/196513291-96

[2022-10-19 14:34] b-solution commented on #1052
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-10-19 14:42] b-solution commented on #1109
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-10-19 14:43] b-solution commented on #1108
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-10-20 06:43] #1108 closed

[2022-10-20 09:45] b-solution commented on #1046
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-10-20 09:56] b-solution commented on #463
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.
![DEhkYPBHkUJXZVU](https://user-images.githubusercontent.com/5988861/196917346-2ff7414a-e752-4b1e-b87b-afb2ecd627b3.png)
![6Ix0n6MvzUHxRRh](https://user-images.githubusercontent.com/5988861/196917361-cece97bc-7c0e-4494-a200-391f8a3d2119.png)
![DRDif9UBqmhcYJ7](https://user-images.githubusercontent.

[2022-10-20 15:37] LAlexMHllc commented on #1107
Closing, fixed

[2022-10-20 17:00] LAlexMHllc opened #1114 "User should not be able to access/update/delete/reset/duplicate/save a map that is Save Private without verifying Password"
Screenshot Example of user Save Private map

![user_create_map_Save_Private_clicked](https://user-images.githubusercontent.com/11938477/197005531-3de77d8b-87ee-402e-adb3-25d6e8027414.png)

![user_create_map_Save_Private_clicked_2](https://user-images.githubusercontent.com/11938477/197005544-3e4e5347-85a3-42b8-a793-69aff6c4545c.png)

_________________________________________________________________

[2022-10-20 17:34] zachegnermh commented on #1037
fixed with https://github.com/MicroHealthLLC/mSuite/commit/0793ad55ef992fcbe9589c72635d13465bad8f1f

[2022-10-20 17:38] LAlexMHllc commented on #1114
User without Password for Save Private map should not be able to Comment/Reply
Screenshot Example

![user_without_Password_should_not_be_able_Comment_Reply](https://user-images.githubusercontent.com/11938477/197019551-1b4ee34c-76d6-4445-8e6a-538fea93939b.png)

[2022-10-20 17:51] LAlexMHllc commented on #1114
User without Password for Save Private map should not be able to Reset map
Screenshot Example

![user_without_Password_should_not_be_able_Reset_map_1](https://user-images.githubusercontent.com/11938477/197021923-2d5a1f90-7ca6-4090-91b5-299c92474120.png)

![user_without_Password_should_not_be_able_Reset_map_2](https://user-images.githubusercontent.com/11938477/197021963-2056cddc-41ff-478c-9cd2-4edc

[2022-10-20 18:08] LAlexMHllc commented on #1114
User without Password for Save Private map should not be able to duplicate the map. The user that Saved Private map does not know the map was duplicated, then accessed.

Screenshot Example of user Duplicate Save Private map, then after changing to Save Public, was able to access the copy

![user_without_Password_should_not_be_able_Duplicate_map_1](https://user-images.githubusercontent.com/11938477

[2022-10-20 18:35] zachegnermh commented on #1114
fixed with PR https://github.com/MicroHealthLLC/mSuite/pull/1116

[2022-10-20 18:50] LAlexMHllc commented on #816
Better, but still not in sync.
- Sometimes the shared map does not have Editing by text.
- Sometimes the user that just opened the map's User Name is included under Editing by, when the user did not edit, only opened map. Also, also Editing by in not in sync afterwards.

CHECK FOR ALL MAPS, but here are a few Examples
Screenshot Examples

![mindmap_open_share_map_missing_Editing-by](https://user-i

[2022-10-20 19:09] LAlexMHllc commented on #1085
Still displays for some default shared maps.
Screenshot Example

![pollmap_user_open_shared_default_map_Last_Edited_text_should_not_display](https://user-images.githubusercontent.com/11938477/197036679-2f7aca6b-c864-4ede-9113-dddb165920ae.png)

[2022-10-20 19:18] LAlexMHllc commented on #1057
Closing, fixed

[2022-10-20 19:18] #1057 closed

[2022-10-20 19:33] LAlexMHllc commented on #956
Export Image or PDF sometimes does not function, regardless if Poll Form or Poll Results are displayed.
Screenshot Example

![export_pollmap_image_or_pdf_loop](https://user-images.githubusercontent.com/11938477/197041090-dc55f9b6-a2e0-48f5-afe3-0e56bdbf7266.png)

[2022-10-21 08:05] b-solution commented on #1044
@LAlexMHllc I've fixed this issue, can you please check it again and let me know if it's not working.

[2022-10-21 10:54] #1046 closed

[2022-10-21 11:07] b-solution commented on #1085
@LAlexMHll Can you please test it again and let me know.

[2022-10-21 16:31] LAlexMHllc commented on #1044
Worked for me
@bluenevus Did it work for you?

[2022-10-24 07:02] #1067 closed

[2022-10-24 07:04] b-solution commented on #1073
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working for you.

[2022-10-24 07:05] #978 closed

[2022-10-24 07:25] #940 closed

[2022-10-24 09:20] b-solution commented on #731
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-10-24 11:20] #952 closed

[2022-10-24 11:23] b-solution commented on #885
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-10-24 13:15] b-solution commented on #1051
@bluenevus @LAlexMHllc I've updated the duplication functionality for calendar and todo. Can you please test it and let me know? If any changes are required.

[2022-10-24 14:31] LAlexMHllc commented on #731
Closing, fixed

[2022-10-24 14:31] #731 closed

[2022-10-24 15:26] LAlexMHllc opened #1122 "Notepad: Clicking reload/refresh for saved map with/without content OR returning to saved map should display all content"
Screenshot Example

![save_notepad_map_with_content](https://user-images.githubusercontent.com/11938477/197564132-a6446448-244a-49bc-854c-b8996e82510a.png)

![save_notepad_map_with_content_click_refresh-reload](https://user-images.githubusercontent.com/11938477/197564162-2416bf74-c20d-4fcb-ab86-2688232501bd.png)

Screenshot Example of saved map after reload/refresh OR return to saved map

![save_n

[2022-10-24 15:42] LAlexMHllc opened #1123 "Spreadsheet: Clicking reload/refresh for saved map without content OR returning to saved map should display all content"
Screenshot Example

![save_spreadsheet_map_without_content](https://user-images.githubusercontent.com/11938477/197567614-7f2decd3-5682-4b9d-920d-124d56e94c41.png)

![save_spreadsheet_map_without_content_click_refresh-reload](https://user-images.githubusercontent.com/11938477/197567634-33a1cd92-7a1b-48a4-909f-ce4f7aea4a95.png)

![save_spreadsheet_map_with_content_click_refresh-reload_missing_all_be

[2022-10-24 15:49] LAlexMHllc opened #1125 "Poll map: Clicking reload/refresh for saved map without content OR returning to saved map should display all content"
Screenshot Example

![save_poll_map_without_content](https://user-images.githubusercontent.com/11938477/197569498-c6fe7e6a-22d5-4a85-a76d-7bd92ebc9883.png)

![save_poll_map_without_content_click_refresh-reload](https://user-images.githubusercontent.com/11938477/197569521-31cfcd2a-d5bd-4561-bc96-80c41c566590.png)

![save_poll_map_with_content_click_refresh-reload_missing_all_below_header_bar](https

[2022-10-24 16:51] LAlexMHllc opened #1127 "ToDo: Should include Note on Clone modal regarding selected "days" to not exceed the number of days in selected clone month"
Should include Note, since the map will not be cloned when the number of days for the selected clone month is less than any of the selected ToDo days.
Screenshot Example

![ToDo_Clone_modal_include_note_for_selected_days_must_exist_for_cloned_into](https://user-images.githubusercontent.com/11938477/197581563-0bd92e05-a117-4d28-b767-f3a8f51ddfce.png)

[2022-10-24 16:52] zachegnermh commented on #1074
Fixed with PRhttps://github.com/MicroHealthLLC/mSuite/pull/1124

[2022-10-24 16:56] zachegnermh commented on #1114
See PR https://github.com/MicroHealthLLC/mSuite/pull/1126

[2022-10-24 17:37] LAlexMHllc opened #1128 "Calendar: Cloned map should have the same numbered dates/times as original"
Screenshot Example of original Calendar - Month view

![calendar_original_events_Month_view](https://user-images.githubusercontent.com/11938477/197588168-d3cd3520-f6fc-4a65-b716-f9ec053adce6.png)

Screenshot Example of Edit original 5-Day Event

![calendar_original_events_Month_view_Edit_5-day_event](https://user-images.githubusercontent.com/11938477/197588258-fea203d1-46bb-417e-915f-b5e9ac8db73c.

[2022-10-24 17:57] LAlexMHllc opened #1129 "The Save Document Key modal should display consistent content, regardless whether Save button or Logo was clicked"
Save Document Key modal should always display according to the maps current save status.

Screenshot Example of modal displaying for map that was Save Public after "Save" button was clicked. User did not update map, just closed modal.

![save_document_modal_displays_after_Save_button_clicked_map_already_Save_Public](https://user-images.githubusercontent.com/11938477/197593353-4aa51068-d5e3-4f39-bc

[2022-10-25 11:27] b-solution commented on #1049
@LAlexMHllc I've fixed this issue, can you please test it again and let me know if it's not working.

[2022-10-25 11:33] b-solution commented on #654
@bluenevus Can you please test it.

[2022-10-25 15:11] LAlexMHllc opened #1134 "The number of days till map deletion should not update unless successful submit to Save Map or Change Password"
Screenshot Example

![save_document_key_modal_change_number_of_days_without_submit](https://user-images.githubusercontent.com/11938477/197804596-622247b3-b766-4b60-94e5-5459fb9bf4e8.png)

![save_document_key_modal_change_number_of_days_without_submit_2](https://user-images.githubusercontent.com/11938477/197805877-d0d144a4-b717-411d-89cb-64fc9104fdbd.png)

[2022-10-25 15:46] LAlexMHllc commented on #1074
Still needs to be fixed
Screenshot Example of Save Private with 5 days selected

![save_document_key_modal_save_Private_with_default_5](https://user-images.githubusercontent.com/11938477/197820428-819c6b9c-05cd-4136-ba4f-0ff4ead736b9.png)

Screenshot Example of map saving with 180 days instead of 5

![save_document_key_modal_save_Private_with_default_5_got_180_instead_2](https://user-images.github

[2022-10-25 16:35] LAlexMHllc commented on #1122
Still needs to be fixed

Screenshot Example of Save Map with content

![notepad_save_map_with_content](https://user-images.githubusercontent.com/11938477/197831555-32fc6a3a-02c0-4c0b-a6e2-145a5f625ee6.png)

Screenshot Example of click Refresh/Reload with content

![notepad_save_map_with_content_click_reload](https://user-images.githubusercontent.com/11938477/197831643-59e62f64-9828-448f-b118-bae9f

[2022-10-25 16:39] LAlexMHllc commented on #1122
The text is still missing for reopen map - Still needs to be fixed

[2022-10-25 16:52] LAlexMHllc commented on #1128
Closing, fixed

[2022-10-25 17:09] #1099 closed

[2022-10-25 17:47] LAlexMHllc commented on #1114
Closing, seems fixed

[2022-10-25 17:47] #1114 closed, assigned to zachegnermh

[2022-10-25 18:00] LAlexMHllc commented on #1073
Still needs to be fixed, since collaborators have to reload to see updated Save tooltip and same number of days selected on Save Document Key modal

[2022-10-25 18:05] LAlexMHllc commented on #1052
Closing, fixed

[2022-10-25 18:05] #1052 closed

[2022-10-25 18:11] #1125 closed

[2022-10-25 18:12] #1123 closed

[2022-10-25 18:21] LAlexMHllc commented on #964
Closing, since will be fixed with Issue #1134

[2022-10-25 18:21] #964 closed

[2022-10-25 19:58] bluenevus opened #1135 "the title and icons are no longer in alignment"
the title should be centered instead of being on top of the icons and the icons should be right justified

![image](https://user-images.githubusercontent.com/3675043/197869871-0142796c-b499-410b-817b-82e38f9b88fb.png)

[2022-10-26 14:04] #739 closed

[2022-10-26 14:25] LAlexMHllc opened #1136 "Password requirement should be 8 nonblank characters minimum"
Screenshot Example

![password_requirement_should_be_8_nonblank_characters_minimum](https://user-images.githubusercontent.com/11938477/198052614-66b29a85-0181-4fdb-a718-b02334a3e510.png)

[2022-10-26 14:51] LAlexMHllc commented on #1129
When the modal displays after the map was changed from private to public and the "Change Password" button still displays, when the user adjusts the number of days element, the "Change Password" button disappears from the modal.

Screenshot Example of modal displaying after "Save" button clicked; user clicks "Save Public"

![click_Save_Public_button_for_saved_private_map_after_Save_button_clicked](

[2022-10-26 16:31] LAlexMHllc opened #1137 "Mindmap: New node should have been child of another node"
User dragged from Central Idea node, but it was attached to another node. Notice the different color connector line from its parent.
Screenshot Example

![mindmap_new_node_should_have_been_central_Idea_child](https://user-images.githubusercontent.com/11938477/198082583-8ce070e3-b562-4670-beb4-d3d39d804be9.png)

[2022-10-26 16:35] LAlexMHllc opened #1138 "Mindmap: "Paste" function does not work; should be enabled after "Copy" button or "Cut" button is clicked with node selected."
Screenshot Example

![mindmap_click_copy_with_node_selected](https://user-images.githubusercontent.com/11938477/198080147-6f56a447-e391-486b-bf32-1dc776ed8a8c.png)

![mindmap_click_cut_with_node_selected](https://user-images.githubusercontent.com/11938477/198080163-b2660afe-aac1-4101-857b-7a13f48b8846.png)

![mindmap_click_paste_with_node_selected_should_add_copied_node_as_child_node](https://user

[2022-10-26 16:37] LAlexMHllc commented on #1138
The "Paste" button should be enabled after "Copy" button is clicked; and clicking it with node selected should add the copied node as a child node.
Currently, the button is enabled only after the "Cut" button is clicked.
User should be able to copy/paste as well as copy/cut/paste.

[2022-10-26 17:39] LAlexMHllc commented on #1128
Reopened, since issue returned.
Screenshot Example of Original map

![calendar_duplicate_map_with_repeating_and_days_long_events](https://user-images.githubusercontent.com/11938477/198097255-19012f85-360c-4ff3-bec2-444017672390.png)

Screenshot Example of Duplicate map

![calendar_duplicate_map_with_repeating_and_days_long_events_2](https://user-images.githubusercontent.com/11938477/198097361-1d4c

[2022-10-26 17:57] LAlexMHllc commented on #1128
Screenshot Example

![calendar_duplicate_multi-day_event_has_End_Date_different](https://user-images.githubusercontent.com/11938477/198101181-dc040358-2d2e-4d26-b7d0-83607a326cd4.png)

[2022-10-26 19:08] LAlexMHllc opened #1139 "Mindmap: Save Private map (without default content) should not get automatically deleted after reload/refresh OR collaborator clicks "Verify" on Password modal."
Screenshot Example of Save Private when not default map

![mindmap_save_private_after_edit_node_text](https://user-images.githubusercontent.com/11938477/198114688-e252d9ef-7567-4a5c-928a-f285a9090014.png)

Screenshot Example of 404 Error screen after reload/refresh

![mindmap_save_private_after_edit_node_text__click_reload_404_error](https://user-images.githubusercontent.com/11938477/198114824-0bd

[2022-10-26 19:16] LAlexMHllc commented on #1139
NOTE: This does not seem to happen whenever the map is first Save Public, then changed to Save Private.

[2022-10-26 19:34] LAlexMHllc commented on #1098
Seems as if map in default state that was Save Public will reload/refresh.
Seems as if map in default state that was Save Private WITHOUT being Save Public first, will return to index (or display 404 error) after reload/refresh (file deleted).
Seems as if map in default state that was first Save Public, then when still in default state gets Save Private, will reload/refresh,

[2022-10-26 19:45] bluenevus opened #1140 "*hot scroll bars are missing from kanban"
![image](https://user-images.githubusercontent.com/3675043/198121946-a1a675ad-bf76-4633-a6f5-6c712de151ba.png)

[2022-10-27 15:52] LAlexMHllc commented on #1140
Screenshot Example of horizontal scrollbar not visible at 90% zoom

![kanban_horizontal_scrollbar_not_visible_at_90_percent_zoom](https://user-images.githubusercontent.com/11938477/198338545-613306fe-acbd-4ee3-ab87-c7306cfd2ab6.png)

Screenshot Example of horizontal scrollbar barely visible at 80% zoom

![kanban_horizontal_scrollbar_barely_visible_at_80_percent_zoom](https://user-images.githubuser